{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account blocked" %}{% endblock %}

{% block content %}
<h1>Account blocked</h1>

<p>
    This account has been marked as spam or deactivated.
    It could be because of an infringement of our <a href="https://docs.bearblog.dev/terms-of-service/">terms of service</a>
    or <a href="https://docs.bearblog.dev/code-of-conduct/">code of conduct</a>.
</p>
<p>
    If you believe this has been a mistake please contact 
    <a href="https://herman.bearblog.dev/contact/">me</a>.
    <i>If you are a spammer and you do contact me, your email address will also be marked as spam.</i>
</p>
{% endblock %}
