{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<h1>{% trans "Log In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please log in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">create a Bear account</a>
{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>
  <small>
  No account?
  <a href="{% url 'signup_flow' %}">Create an account</a>
  </small>
</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %} &raquo;</button>
  <p>
    <small>
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </small>
  </p>
</form>

<script>
document.querySelector('form input[type=email]').select()
</script>

{% endblock %}
