{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create Account" %}{% endblock %}

{% block content %}
<h1>{% trans "Create Account" %}</h1>

<p>
  <small>
    {% blocktrans %}Have an account? <a href="{{ login_url }}">Log in</a>{% endblocktrans %}
  </small>
</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <small><input type="checkbox" required>
    I agree to the terms and conditions (no
    <a target="_blank" href="https://docs.bearblog.dev/terms-of-service#1-your-bearblog-dev-account">domain squatting</a>
    or
    <a target="_blank" href="https://docs.bearblog.dev/terms-of-service#1-1-backlinks-and-spam">backlink spam</a>)
  </small>
  <br>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <button type="submit">{% trans "Create Account" %} &raquo;</button>
  <p>
    <small>
      Bear is free to use for blogs.
      <br>
      If your account is flagged as backlink spam or domain squatting it will be removed.
      <br>
      By creating an account you agree to our
      <a href="https://docs.bearblog.dev/terms-of-service">terms of service</a>
      and <a href="https://docs.bearblog.dev/privacy-policy">privacy policy</a>.
    </small>
  </p>
</form>

<script>
document.querySelector('form input[type=email]').select();
</script>

{% endblock %}
