{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify your email address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify your email address" %}</h1>

    <p>
        We have sent an email to you for verification. Follow the link to activate your account.
    </p>
    <p>
        If you do not receive it check your spam folder.
        If it's not there contact <a href="mailto:herman@bearblog.dev">herman@bearblog.dev</a>.
    </p>

{% endblock %}
