{
    on_demand_tls {
        ask https://bearblog.dev/ping/
        interval 1m
        burst 5
    }
}

https:// {
    tls {
        on_demand
    }

    reverse_proxy https://bearblog.dev {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-For {remote_host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

    @blocked {
        header_regexp User-Agent (?i:ActivityRelay*)
    }

    handle @blocked {
        abort
    }

    log {
        output file /var/log/caddy/access.log
    }
}
