{
    on_demand_tls {
        ask https://bear-blog.herokuapp.com/ping/
        interval 1m
        burst 5
    }
}

https:// {
    tls {
        on_demand
    }

    reverse_proxy https://bear-blog.herokuapp.com {
        header_up Host {upstream_hostport}
    }

    @blocked {
        header_regexp User-Agent (?i:ActivityRelay*)
    }

    handle @blocked {
        abort
    }

    log {
        output file /var/log/caddy/access.log
    }
}

