{
	on_demand_tls {
		ask https://bearblog.dev/ping/
	}
}

https:// {
	tls {
		on_demand
	}

	# Block requests to .php files
	@php_requests path *.php
	respond @php_requests "Forbidden" 403

	# Block requests to .env files
	@env_requests path *.env*
	respond @env_requests "Forbidden" 403

	# Block requests with empty user agents
	@emptyUA not header_regexp User-Agent ".+"
	respond @emptyUA "Forbidden" 403

	reverse_proxy https://bearblog.dev {
		header_up Host {upstream_hostport}
		header_up X-Real-IP {remote_host}
	}

	log {
		output file /var/log/caddy/access.log
	}
}

