boto3==1.21.44
dj-database-url==0.5.0
Django==3.2.23
django-allauth==0.57.0
django-debug-toolbar==3.2.4
django-ip==1.0.2
django-pygmentify==0.3.7
django-queryset-csv==1.1.0
feedgen==0.9.0
geoip2==4.6.0
gunicorn==20.0.4
httpagentparser==1.9.2
latex2mathml==3.77.0
mistune==3.0.1
Pillow==10.4.0
psycopg2==2.9.9
pygal==3.0.5
python-akismet==0.4.3
python-dotenv==1.0.0
requests==2.27.1
sentry-sdk==2.19.0
tldextract==2.2.2
whitenoise==5.0.1
