boto3==1.36.24
dj-database-url==2.3.0
Django==5.2.9
django-allauth==65.13.0
django-debug-toolbar==5.0.1
django-ip==1.0.2
django-pygmentify==0.3.7
django-queryset-csv==1.1.0
django-redis==6.0.0
feedgen==0.9.0
geoip2==4.6.0
gunicorn==23.0.0
httpagentparser==1.9.2
judoscale==1.7.5
latex2mathml==3.77.0
mistune==3.1.4
Pillow==10.4.0
psycopg2==2.9.10
pygal==3.0.5
python-akismet==0.4.3
python-dotenv==1.0.0
redis==7.1.0
requests==2.32.5
sentry-sdk==2.19.0
tldextract==2.2.2
tzdata>=2025.1 # Keeps the timezone data up to date
whitenoise==5.0.1
