boto3==1.36.24
Django==5.2.13
django-allauth==65.14.3
django-debug-toolbar==5.0.1
django-ip==1.0.2
feedgen==0.9.0
geoip2==4.6.0
gunicorn==23.0.0
httpagentparser==1.9.2
judoscale==1.7.5
latex2mathml==3.77.0
mistune==3.2.0
Pillow==12.1.1
Pygments==2.20.0
psycopg2==2.9.10
redis==7.1.0
requests==2.33.0
sentry-sdk==2.19.0
tzdata>=2025.1 # Keeps the timezone data up to date
whitenoise==5.0.1
