@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
        color: #eee;
    }

    a {
        color: #8cc2dd;
    }

    code {
        background-color: #777;
    }

    pre code {
        color: #ddd;
    }

    blockquote {
        color: #ccc;
    }

    textarea, input {
        background-color: #252525;
        color: #ddd;
    }

    .helptext {
        color: #aaa;
    }
}