.bear {
    font-weight: 400;
    font-family:  "Lucida", monospace;
    white-space: nowrap;
    display: inline-block;
}

.flex::before {
    content: "ᕦʕ •ᴥ•ʔᕤ";
    animation: blink 10s infinite;
}

.flex:hover::before {
    content: "ᕙʕ ಠᴥಠʔᕗ";
    animation: none;
}

.upgrade:hover .flex::before {
    content: "ᕙʕ ಠᴥಠʔᕗ";
    animation: none;
    text-decoration: underline;
}

@keyframes blink {
    0%, 96% { content: "ᕦʕ •ᴥ•ʔᕤ"; }
    97%, 100% { content: "ᕦʕ -ᴥ-ʔᕤ"; }
}

a.account:hover {
    text-decoration: none;
}

a.account::before {
    content: "ʕ-ᴥ-ʔ";
}

.account:hover::before {
    content: "ʕ•ᴥ•ʔ";
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header nav a:last-child {
    margin-right: 0;
}

label {
    font-weight: bold;
}

time {
    font-family: monospace;
    font-size: 15px;
}

textarea,
input:not([type="submit"]),
.editable {
    background-color: #eceff4;
    border: none;
    line-height: 1.7;
    outline: none;
    color: inherit;
    padding: 10px;
    font-size: 18px;
}

@media (prefers-color-scheme: dark) {
    textarea,
    input:not([type="submit"]),
    .editable {
        background-color: #004052;
    }
}

.full-width textarea,
.full-width input:not([type="submit"], [type="checkbox"], [type="radio"]) {
    width: calc(100% - 20px);
}

textarea:required,
input:required:not([type="submit"]){
    border-left: 1px solid #f99f9f;
}

input[type='checkbox'], input[type='radio'] {
    height: 15px;
    margin-right: 10px;
}

button {
    margin: 5px 0;
}

button.floating {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

button#toggle-full-screen {
    float: right;
}

.sticky-controls {
    position: sticky;
    top: 0;
    background-color: white;
    line-height: 0;
    z-index: 10;
}

.helptext {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: small;
}

.helptext.sticky {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 3px 0;
}

@media (prefers-color-scheme: dark) {
    .helptext.sticky,
    .sticky-controls {
        background-color: var(--background-color);
    }
}

.errorlist {
    color: #eba613;
    font-size: small;
}

#date-range{
    display: none;
}

#date-range:target{
    display: block;
}

.notification {
    width: 100%;
    text-align: left;
    padding: 5px 0;
    margin-bottom: -15px;
}

.notification a {
    margin: 0;
}

/* dashboard post list and analytics */
ul.post-list {
    list-style-type: none;
    padding: unset;
}

ul.post-list li {
    display: flex;
    align-items: baseline;
    padding: 10px 0;
    border-bottom: 1px solid #eceff4;
}

ul.post-list li span {
    flex: 0 0 130px;
}

ul.post-list li span.number {
    flex: 0 0 50px;
}

ul.post-list li a {
    flex: max-content;
}

ul.post-list li small {
    text-align: right;
    flex: 0 0 115px;
}

/* media center */

.media-container {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
.media-item {
    text-align: center;
    background-color: #eceff4;
    position: relative;
}
.media-checkbox {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0 !important;
    height: unset !important;
}

/* discovery feed */
ul.discover-posts {
    list-style-type: none;
    padding: unset;
}

ul.discover-posts li {
    display: flex;
    line-height: 1.2;
    position: relative;
}

ul.discover-posts li span {
    flex: 0 0 40px;
}

ul.discover-posts li a:visited {
  color: #8b6fcb;
}

ul.discover-posts li div {
    padding-bottom: 8px;
}

ul.discover-posts li small span, ul.discover-posts li small span a {
    color: #777 !important;
}


@media (prefers-color-scheme: dark) {

    .helptext {
        color: #aaa;
    }
}