.title-bear {
    font-weight: 400;
}

.bear::before {
    content: "ᕦʕ •ᴥ•ʔᕤ";
    font-weight: 400;
}
.bear:hover::before {
    content: "ᕙʕ ಠᴥಠʔᕗ";
    font-weight: 400;
}

textarea,
input:not([type="submit"]) {
    background-color: inherit;
    color: inherit;
    border: 1px dashed;
    padding: 5px;
    font-size: 16px;
}

.full-width textarea,
.full-width input:not([type="submit"], [type="checkbox"], [type="radio"]) {
    width: calc(100% - 15px);
}

textarea:required,
input:required:not([type="submit"]){
    border: 1px solid;
}

textarea.full-screen {
    position: fixed;
    background-color: white;
    top: -2px;
    bottom: -2px;
    left: 0;
    width: calc(100vw - 30px);
    max-width: 720px;
    border: 10px solid;
    border-width: 10px calc(50vw - 370px);
}

@media only screen and (max-width: 750px) {
    textarea.full-screen {
        border-width: 10px;
    }
}


input[type='checkbox'], input[type='radio'] {
    height: 15px;
    margin-right: 10px;
}

button {
    margin: 0;
}

button.floating {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

button#toggle-full-screen {
    float: right;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

#date-range{
    display: none;
}

#date-range:target,{
    display: block;
}

/* dashboard post list and analytics */
ul.post-list {
    list-style-type: none;
    padding: unset;
}

ul.post-list li {
    display: flex;
    align-items: baseline;
    padding: 10px 0;
    border-bottom: 1px dashed;
}

ul.post-list li span {
    flex: 0 0 130px;
}

ul.post-list li span.number {
    flex: 0 0 50px;
}

ul.post-list li a {
    flex: max-content;
}

ul.post-list li small {
    text-align: right;
    flex: 0 0 115px;
}

/* discovery feed */
ul.discover-posts {
    list-style-type: none;
    padding: unset;
}

ul.discover-posts li {
    display: flex;
    line-height: 1.2;
}

ul.discover-posts li span {
    flex: 0 0 40px;
}

ul.discover-posts li a:visited {
  color: #8b6fcb;
}

ul.discover-posts li div {
    padding-bottom: 8px;
}

ul.discover-posts li small span, ul.discover-posts li small span a {
    color: #777 !important;
}


@media (prefers-color-scheme: dark) {

    .helptext {
        color: #aaa;
    }
}