body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}

a {
    color: #3273dc;
    /*color: #ff5e6c;*/
}

.title {
    text-decoration: none;
    border: 0;
}

.title h1 {
    font-size: 1.5em;
}

.title span {
    font-weight: 400;
}

.bear::before {
    content: "ᕦʕ •ᴥ•ʔᕤ";
    font-weight: 400;
}
.bear:hover::before {
    content: "ᕙʕ ಠᴥಠʔᕗ";
    font-weight: 400;
}

nav a {
    margin-right: 10px;
}

textarea,
input:not([type="submit"]) {
    background-color: inherit;
    color: inherit;
    border: 1px dashed;
    padding: 5px;
    font-size: 16px;
}

.full-width textarea,
.full-width input:not([type="submit"], [type="checkbox"]) {
    width: calc(100% - 15px);
}

.inline {
    width: auto !important;
}

textarea:required,
input:required:not([type="submit"]){
    border: 1px solid;
}

textarea.full-screen {
    position: fixed;
    background-color: white;
    top: -2px;
    bottom: -2px;
    left: 0;
    width: calc(100vw - 30px);
    max-width: 720px;
    border: 10px solid;
    border-width: 10px calc(50vw - 370px);
}

@media only screen and (max-width: 750px) {
    textarea.full-screen {
        border-width: 10px;
    }
}

button.floating {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

button#toggle-full-screen {
    float: right;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code{
    font-family: monospace;
    padding: 2px;
    background-color: #f2f2f2;
    color: #222;
    border-radius: 3px;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: #f2f2f2;
    color: #222;
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

#id_favicon {
    width: 20px;
    text-align: center;
}

#date-range,
#initial-values,
#import-contacts {
    display: none;
}

#date-range:target,
#initial-values:target,
#import-contacts:target {
    display: block;
}

/* dashboard post list and analytics */
ul.post-list {
    list-style-type: none;
    padding: unset;
}

ul.post-list li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dashed;
}

ul.post-list li span {
    flex: 0 0 130px;
}

ul.post-list li span.number {
    flex: 0 0 50px;
}

ul.post-list li a {
    flex: max-content;
}

ul.post-list li small {
    text-align: right;
    flex: 0 0 115px;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: #8b6fcb;
}

/* discovery feed */
ul.discover-posts {
    list-style-type: none;
    padding: unset;
}

ul.discover-posts li {
    display: flex;
    line-height: 1.2;
}

ul.discover-posts li span {
    flex: 0 0 40px;
}

ul.discover-posts li a:visited {
  color: #8b6fcb;
}

ul.discover-posts li div {
    padding-bottom: 8px;
}

ul.discover-posts li small {
    color: #777 !important;
}

ul.discover-posts li small a {
    color: #777 !important;
}

