{% extends 'base.html' %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h2>
        Send email to all users
    </h2>
     <p class="errorlist">
        {{ error }}
    </p>
    <form method="POST" class="post-form full-width">{% csrf_token %}
        <p>
            <label for="subject">Subject</label>
            <input type="text" name="subject"/>
        </p>
        <p>
            <label for="body">Email body</label>
            <textarea name="body" rows=20></textarea>
        </p>
        <p>
            <label for="is_test">Is test</label>
            <input type="checkbox" checked name="is_test" value="test"/>
        </p>
        <button type="submit">Send</button>
    </form>
</content>
{% endblock %}