{% extends 'base.html' %}

{% block title %}
Staff Dashboard
{% endblock %}


{% block seo %}
<meta name="robots" content="noindex">
{% endblock %}

{% block heading %}
Staff Dashboard  ʕง•ᴥ•ʔง
{% endblock %}

{% block nav %}
<a href="/staff/review/">Review {{ to_review }} blogs</a>
{% endblock %}

{% block content %}
<main>
    <p>
        <ul>
            <li>Total signups: {{ total_signups }}</li>
            <li>Total upgrades: {{ total_upgrades }}</li>
            <li>Conversion rate: {{ conversion_rate }}</li>
        </ul>
    </p>
    <h2>Signups</h2>
    <embed type="image/svg+xml" src= {{ signup_chart|safe }} />
    <span class="helptext" style="display: flex; justify-content:space-between;">
        <span>{{ start_date|date:"j F Y" }}</span>
        <span>{{ end_date|date:"j F Y" }}</span> 
    </span>

    <h2>Upgrades</h2>
    <embed type="image/svg+xml" src= {{ upgrade_chart|safe }} />
    <span class="helptext" style="display: flex; justify-content:space-between;">
        <span>{{ start_date|date:"j F Y" }}</span>
        <span>{{ end_date|date:"j F Y" }}</span> 
    </span>

    <h2>Empty blogs</h2>
    <pre>
        - Over 5 weeks old
        - Not seen in the last two weeks
        - Content under 50 characters
        - No posts
        - Not upgraded
    </pre>
    <ul>
        {% for blog in empty_blogs %}
        <li>
            <b>{{ blog.title }} </b><a href="{{ blog.bear_domain }}" target="_blank">{{ blog.bear_domain }}</a>
            <br>
            <small>Created date: {{ blog.created_date }}</small>
            <br>
            <small>Last modified: <b>{{ blog.last_modified }}</b></small>
            <br>
            <i>
                {{ blog.user.email }}
            </i>
            <br>
            {{ blog.content }}
            <br>
            {{ blog.num_posts }}
        </li>
        {% endfor %}
    </ul>
    <button onclick="if (confirm('Are you sure?')) {window.location = '{% url 'delete_empty' %}'}">Delete empty</button>
</main>
{% endblock %}

{% block footer %}
Made with <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
{% endblock %}