{% extends 'base.html' %}
{% load custom_tags %}

{% block favicon %}🚮{% endblock %}

{% block title %}Review flow{% endblock %}


{% block heading %}Review flow{% endblock %}

{% block seo %}
<meta name="robots" content="noindex">
{% endblock %}

{% block custom_styles %}
{% include 'snippets/styles.html' %}
body {
    font-size: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.controls button {
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
{% endblock %}

{% block content %}
<a href="{% url 'staff_dashboard' %}">Back</a>
<h3>Still to go: {{ still_to_go }}</h3>
<hr>

{% for blog in blogs %}
<div id="blog-{{ blog.pk }}">
    <h3>{{ blog.title }}</h3>
    <a href="{{ blog.useful_domain }}" target="_blank">{{ blog.useful_domain }}</a>
    <br>
    <a href="mailto:{{ blog.user.email }}">{{ blog.user.email }}</a>
    <p><b>
        Created {{ blog.created_date | timesince }} ago
        <br>
        Last modified {{ blog.last_modified | timesince }} ago
        <br>
        Last posted {{ blog.last_posted | timesince }} ago
    </b></p>

    <nav>{{ blog.nav | markdown:blog | safe }}</nav>
    {{ blog.content | markdown:blog | safe }}


    <ul style="padding-bottom: 30px; max-height: 500px; overflow: auto; border: 1px dashed">
        {% for post in blog.posts.all %}
        <li>
            <i>
                <time datetime="{{ post.published_date|date:'Y-m-d' }}">
                    - {{ post.published_date|date:'d M, Y' }}
                </time>
            </i>
            <h3><a href="{{ root }}/{{ post.slug }}/" target="_blank">{{ post.title }}</a></h3>
            <p>
                {{ post.content | markdown:post | safe }}
            </p>
        </li>
        {% endfor %}
    </ul>

    {% if blog.reviewer_note %}
    <p style="color: darkgreen">
        {{ blog.reviewer_note }}
    </p>
    {% endif %}
    <details>
        <summary>Optional message</summary>
        <textarea class="message" style="width: 100%; height: 100px; padding: 10px;">
Hey, I've just reviewed your blog. It looks good and has been approved.
<br>
<br>
Have a great week!
<br>
Herman
        </textarea>
    </details>
    <br>
    <input type="checkbox" class="deprioritise" name="deprioritise"> deprioritise
    <br>
    <div class="controls">
        <button onclick="approveBlogWithEmail({{ blog.pk }})">Approve and email</button>
        <button onclick="approveBlog({{ blog.pk }})">Approve</button>
        <button onclick="ignoreBlog({{ blog.pk }})">Ignore</button>
        <button onclick="blockBlog({{ blog.pk }})">Block</button>
        <button onclick="deleteBlog({{ blog.pk }})">Delete</button>
    </div>

    <hr>
</div>
{% endfor %}
<button onclick="window.scrollTo(0, 0); setTimeout(function() { window.location.reload(); }, 10)">Next ››</button>
{% endblock %}

{% block footer %}
<script>
    function highlightKeywords(keywords) {
        const regex = new RegExp(keywords.join('|'), 'gi');
        const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT, null, false);
        
        const nodeList = [];
        while (walker.nextNode()) {
          nodeList.push(walker.currentNode);
        }
        
        for (const node of nodeList) {
          const text = node.textContent;
          const matches = text.match(regex);
          
          if (matches) {
            const fragment = document.createDocumentFragment();
            let lastIndex = 0;
            
            for (const match of matches) {
              const index = text.toLowerCase().indexOf(match.toLowerCase(), lastIndex);
              fragment.appendChild(document.createTextNode(text.slice(lastIndex, index)));
              const mark = document.createElement('mark');
              mark.textContent = text.slice(index, index + match.length);
              fragment.appendChild(mark);
              lastIndex = index + match.length;
            }
            
            fragment.appendChild(document.createTextNode(text.slice(lastIndex)));
            node.parentNode.replaceChild(fragment, node);
          }
        }
    }
        
    const keywords = {{ highlight_terms | safe }};
    highlightKeywords(keywords);

    function approveBlogWithEmail(pk) {
        const message = document.querySelector(`#blog-${pk} .message`).value;
        const deprioritise = document.querySelector(`#blog-${pk} .deprioritise`).checked;
        
        sendApproveBlog(pk, message, deprioritise)

        document.querySelector(`#blog-${pk}`).style.background = "lightgreen";
    }
    
    function approveBlog(pk) {
        const deprioritise = document.querySelector(`#blog-${pk} .deprioritise`).checked;
        
        sendApproveBlog(pk, false, deprioritise)

        document.querySelector(`#blog-${pk}`).style.background = "lightgreen";
    }

    function sendApproveBlog(pk, message=false, deprioritise=false) {
        let queryParams = [];
        if (message) queryParams.push(`message=${message}`);
        if (deprioritise) queryParams.push(`deprioritise=${deprioritise}`);
        const queryString = queryParams.join('&');

        const url = `/staff/review/approve/${pk}?${queryString}`;

        fetch(url, {
            method: 'GET'
        })
        .then(response => console.log(response))
        .catch(error => console.error('Error:', error));
    }
    
    function ignoreBlog(pk) {
        document.querySelector(`#blog-${pk}`).style.background="lightyellow"
        fetch(`/staff/review/ignore/${pk}`, {
            method: 'GET'
        })
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }
    function blockBlog(pk) {
        document.querySelector(`#blog-${pk}`).style.background="orange"
        fetch(`/staff/review/block/${pk}`, {
            method: 'GET'
        })
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }
    function deleteBlog(pk) {
        if (confirm('Delete this blog?')) {
            document.querySelector(`#blog-${pk}`).style.background="grey"
            fetch(`/staff/review/delete/${pk}`, {
                method: 'GET'
            })
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }
    }
</script>

{% endblock %}