{% extends 'base.html' %}
{% load custom_tags %}

{% block favicon %}{{ blog.favicon }}{% endblock %}

{% block title %}{{ blog.title }}{% endblock %}


{% block seo %}
<meta name="robots" content="noindex">
{% endblock %}


{% block custom_styles %}{% include 'snippets/styles.html' with blog=blog %}{% endblock %}

{% block heading %}
<br>
{% if spam %}<h1 style="color:red">SPAM</h1>{% endif %}
{{ blog.title }}
{% endblock %}

{% block nav %}

<div style="position:fixed; bottom: 0px; left:0px; right:0; background-color: wheat; padding: 20px 10px 10px; font-size: 14px; font-family: Verdana; font-color: black;">
    <form method="post" action="approve/{{ blog.pk }}"> 
        {% csrf_token %}
        <textarea name="message" style="max-width: 600px; height: 130px; width: 99%;">
Hey, I've just reviewed your blog. It looks good and has been approved.

<br><br>
Have a great week!
<br>
Herman
        </textarea>
        <br>
        <input type="submit" value="Approve"> |
        <small>
            <a href="approve/{{ blog.pk }}?no-email=True">Approve (no email)</a>|
            <a href="block/{{ blog.pk }}">Block</a>|
            <a href="delete/{{ blog.pk }}">Delete</a>
        </small>
    </form>
    <br>
    {{ still_to_go }} blog(s) still to go
</div>
{% endblock %}

{% block content %}
<hr>
<p>{{ blog.reviewer_note|linebreaks }}</p>
<hr>
<a href="{{ root }}" target="_blank">{{ root }}</a>
<br>
<a href="mailto:{{ blog.user.email }}">{{ blog.user.email }}</a>
<p><b>Created {{ blog.created_date | timesince }} ago</b></p>

<nav>{{ blog.nav | markdown | safe }}</nav>
{{ content | markdown | safe }}


<ul style="padding-bottom: 300px">
    {% for post in posts %}
    <li>
        #{{ forloop.counter }}
        <i>
            <time datetime="{{ post.published_date|date:'Y-m-d' }}">
                - {{ post.published_date|date:'d M, Y' }}
            </time>
        </i>
        <h3><a href="{{ root }}/{{ post.slug }}/" target="_blank">{{ post.title }}</a></h3>
        <p>
            {{ post.content | markdown | safe }}
        </p>
    </li>
    {% endfor %}
</ul>


{% if posts.empty %}
<p>
    No posts yet
</p>
{% endif %}

{% endblock %}

{% block footer %}
Made with <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
{% endblock %}