{% extends 'base.html' %}
{% load custom_tags %}

{% block favicon %}🚮{% endblock %}

{% block title %}Review flow{% endblock %}


{% block heading %}🚮<hr>{% endblock %}

{% block seo %}
<meta name="robots" content="noindex">
{% endblock %}

{% block custom_styles %}
{% include 'snippets/styles.html' %}
#controls {
    display: flex;
    justify-content: space-between;
}
#controls button {
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
{% endblock %}

{% block content %}
{% for blog in blogs %}
<div id="blog-{{ blog.pk }}">
    <h3>{{ blog.title }}</h3>
    <a href="{{ blog.useful_domain }}" target="_blank">{{ blog.useful_domain }}</a>
    <br>
    <a href="mailto:{{ blog.user.email }}">{{ blog.user.email }}</a>
    <p><b>
        Created {{ blog.created_date | timesince }} ago
        <br>
        Last modified {{ blog.last_modified | timesince }} ago
        <br>
        Last posted {{ blog.last_posted | timesince }} ago
    </b></p>

    <nav>{{ blog.nav | markdown:blog | safe }}</nav>
    {{ blog.content | markdown:blog | safe }}


    <ul style="padding-bottom: 30px; max-height: 500px; overflow: auto; border: 1px dashed">
        {% for post in blog.post_set.all %}
        <li>
            <i>
                <time datetime="{{ post.published_date|date:'Y-m-d' }}">
                    - {{ post.published_date|date:'d M, Y' }}
                </time>
            </i>
            <h3><a href="{{ root }}/{{ post.slug }}/" target="_blank">{{ post.title }}</a></h3>
            <p>
                {{ post.content | markdown:post | safe }}
            </p>
        </li>
        {% endfor %}
    </ul>

    <div id="controls">
        <button id="approve" onclick="approveBlogWithEmail({{ blog.pk }})">Approve and email</button>
        <button id="approve" onclick="approveBlog({{ blog.pk }})">Approve</button>
        <button id="ignore" onclick="ignoreBlog({{ blog.pk }})">Ignore</button>
        <button id="block" onclick="blockBlog({{ blog.pk }})">Block</button>
        <button id="delete" onclick="deleteBlog({{ blog.pk }})">Delete</button>
    </div>

    <hr>
</div>
{% endfor %}
<button onclick="window.scrollTo(0, 0); setTimeout(function() { window.location.reload(); }, 10)">Next ››</button>
{% endblock %}

{% block footer %}
<script>
    function approveBlogWithEmail(pk) {
        document.querySelector(`#blog-${pk}`).style.background="lightgreen"
        fetch(`/staff/review/approve/${pk}`, {
            method: 'GET',
        })
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }
    function approveBlog(pk) {
        document.querySelector(`#blog-${pk}`).style.background="lightgreen"
        fetch(`/staff/review/approve/${pk}?no-email=True`, {
            method: 'GET'
        })
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }
    function ignoreBlog(pk) {
        document.querySelector(`#blog-${pk}`).style.background="lightyellow"
        fetch(`/staff/review/ignore/${pk}`, {
            method: 'GET'
        })
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }
    function blockBlog(pk) {
        document.querySelector(`#blog-${pk}`).style.background="orange"
        fetch(`/staff/review/block/${pk}`, {
            method: 'GET'
        })
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
    }
    function deleteBlog(pk) {
        if (confirm('Delete this blog?')) {
            document.querySelector(`#blog-${pk}`).style.background="grey"
            fetch(`/staff/review/delete/${pk}`, {
                method: 'GET'
            })
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }
    }
    {% comment %} document.addEventListener('keydown', function(event) {
        const key = event.key.toUpperCase(); // Normalize key to uppercase
        
        // Trigger the corresponding action based on the pressed key
        switch (key) {
            case 'A':
                document.getElementById('A').click();
                break;
            case 'W':
                document.getElementById('W').click();
                break;
            case 'E':
                document.getElementById('E').click();
                break;
            case 'F':
                document.getElementById('F').click();
                break;
            case 'G':
                document.getElementById('G').click();
                break;
        }
    }); {% endcomment %}
</script>

{% endblock %}