{% extends 'base.html' %}

{% block nav %}
<a href="/dashboard">Dashboard</a>
<a href="/dashboard/posts">Posts</a>
<a href="/dashboard/domain">Custom domain</a>
<a href="https://github.com/HermanMartinus/bearblog/wiki" target="_blank">Docs</a>
<a href="/accounts/logout">Sign out</a>
{% endblock %}

{% block content %}
<h1 class="title">Delete post</h1>
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" />
</form>
<p>
<a href="/dashboard/posts">Cancel</a>
</p>
{% endblock %}
