.hll { background-color: #ffffcc }
.c { font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { font-weight: bold } /* Keyword */
.ch { font-style: italic } /* Comment.Hashbang */
.cm { font-style: italic } /* Comment.Multiline */
.cpf { font-style: italic } /* Comment.PreprocFile */
.c1 { font-style: italic } /* Comment.Single */
.cs { font-style: italic } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gh { font-weight: bold } /* Generic.Heading */
.gp { font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { font-weight: bold } /* Generic.Subheading */
.kc { font-weight: bold } /* Keyword.Constant */
.kd { font-weight: bold } /* Keyword.Declaration */
.kn { font-weight: bold } /* Keyword.Namespace */
.kr { font-weight: bold } /* Keyword.Reserved */
.s { font-style: italic } /* Literal.String */
.nc { font-weight: bold } /* Name.Class */
.ni { font-weight: bold } /* Name.Entity */
.ne { font-weight: bold } /* Name.Exception */
.nn { font-weight: bold } /* Name.Namespace */
.nt { font-weight: bold } /* Name.Tag */
.ow { font-weight: bold } /* Operator.Word */
.sa { font-style: italic } /* Literal.String.Affix */
.sb { font-style: italic } /* Literal.String.Backtick */
.sc { font-style: italic } /* Literal.String.Char */
.dl { font-style: italic } /* Literal.String.Delimiter */
.sd { font-style: italic } /* Literal.String.Doc */
.s2 { font-style: italic } /* Literal.String.Double */
.se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.sh { font-style: italic } /* Literal.String.Heredoc */
.si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.sx { font-style: italic } /* Literal.String.Other */
.sr { font-style: italic } /* Literal.String.Regex */
.s1 { font-style: italic } /* Literal.String.Single */
.ss { font-style: italic } /* Literal.String.Symbol */
