.hll { background-color: #ffffcc }
.c { color: #FF0000; font-style: italic } /* Comment */
.k { color: #0000FF } /* Keyword */
.ch { color: #FF0000; font-style: italic } /* Comment.Hashbang */
.cm { color: #FF0000; font-style: italic } /* Comment.Multiline */
.cp { color: #FF0000; font-style: italic } /* Comment.Preproc */
.cpf { color: #FF0000; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #FF0000; font-style: italic } /* Comment.Single */
.cs { color: #FF0000; font-style: italic } /* Comment.Special */
.kc { color: #0000FF } /* Keyword.Constant */
.kd { color: #0000FF } /* Keyword.Declaration */
.kn { color: #0000FF } /* Keyword.Namespace */
.kp { color: #0000FF } /* Keyword.Pseudo */
.kr { color: #0000FF } /* Keyword.Reserved */
.kt { color: #0000FF } /* Keyword.Type */
.s { color: #009C00 } /* Literal.String */
.nc { color: #007575 } /* Name.Class */
.nd { color: #CC00A3 } /* Name.Decorator */
.nf { color: #C34E00 } /* Name.Function */
.sa { color: #009C00 } /* Literal.String.Affix */
.sb { color: #009C00 } /* Literal.String.Backtick */
.sc { color: #009C00 } /* Literal.String.Char */
.dl { color: #009C00 } /* Literal.String.Delimiter */
.sd { color: #009C00 } /* Literal.String.Doc */
.s2 { color: #009C00 } /* Literal.String.Double */
.se { color: #009C00 } /* Literal.String.Escape */
.sh { color: #009C00 } /* Literal.String.Heredoc */
.si { color: #009C00 } /* Literal.String.Interpol */
.sx { color: #009C00 } /* Literal.String.Other */
.sr { color: #009C00 } /* Literal.String.Regex */
.s1 { color: #009C00 } /* Literal.String.Single */
.ss { color: #009C00 } /* Literal.String.Symbol */
.fm { color: #C34E00 } /* Name.Function.Magic */
