.hll { background-color: #a39e9b }
.c { color: #8d8687 } /* Comment */
.err { color: #ef6155 } /* Error */
.k { color: #815ba4 } /* Keyword */
.l { color: #f99b15 } /* Literal */
.n { color: #2f1e2e } /* Name */
.o { color: #5bc4bf } /* Operator */
.p { color: #2f1e2e } /* Punctuation */
.ch { color: #8d8687 } /* Comment.Hashbang */
.cm { color: #8d8687 } /* Comment.Multiline */
.cp { color: #8d8687 } /* Comment.Preproc */
.cpf { color: #8d8687 } /* Comment.PreprocFile */
.c1 { color: #8d8687 } /* Comment.Single */
.cs { color: #8d8687 } /* Comment.Special */
.gd { color: #ef6155 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gh { color: #2f1e2e; font-weight: bold } /* Generic.Heading */
.gi { color: #48b685 } /* Generic.Inserted */
.gp { color: #8d8687; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.kc { color: #815ba4 } /* Keyword.Constant */
.kd { color: #815ba4 } /* Keyword.Declaration */
.kn { color: #5bc4bf } /* Keyword.Namespace */
.kp { color: #815ba4 } /* Keyword.Pseudo */
.kr { color: #815ba4 } /* Keyword.Reserved */
.kt { color: #fec418 } /* Keyword.Type */
.ld { color: #48b685 } /* Literal.Date */
.m { color: #f99b15 } /* Literal.Number */
.s { color: #48b685 } /* Literal.String */
.na { color: #06b6ef } /* Name.Attribute */
.nb { color: #2f1e2e } /* Name.Builtin */
.nc { color: #fec418 } /* Name.Class */
.no { color: #ef6155 } /* Name.Constant */
.nd { color: #5bc4bf } /* Name.Decorator */
.ni { color: #2f1e2e } /* Name.Entity */
.ne { color: #ef6155 } /* Name.Exception */
.nf { color: #06b6ef } /* Name.Function */
.nl { color: #2f1e2e } /* Name.Label */
.nn { color: #fec418 } /* Name.Namespace */
.nx { color: #06b6ef } /* Name.Other */
.py { color: #2f1e2e } /* Name.Property */
.nt { color: #5bc4bf } /* Name.Tag */
.nv { color: #ef6155 } /* Name.Variable */
.ow { color: #5bc4bf } /* Operator.Word */
.w { color: #2f1e2e } /* Text.Whitespace */
.mb { color: #f99b15 } /* Literal.Number.Bin */
.mf { color: #f99b15 } /* Literal.Number.Float */
.mh { color: #f99b15 } /* Literal.Number.Hex */
.mi { color: #f99b15 } /* Literal.Number.Integer */
.mo { color: #f99b15 } /* Literal.Number.Oct */
.sa { color: #48b685 } /* Literal.String.Affix */
.sb { color: #48b685 } /* Literal.String.Backtick */
.sc { color: #2f1e2e } /* Literal.String.Char */
.dl { color: #48b685 } /* Literal.String.Delimiter */
.sd { color: #8d8687 } /* Literal.String.Doc */
.s2 { color: #48b685 } /* Literal.String.Double */
.se { color: #f99b15 } /* Literal.String.Escape */
.sh { color: #48b685 } /* Literal.String.Heredoc */
.si { color: #f99b15 } /* Literal.String.Interpol */
.sx { color: #48b685 } /* Literal.String.Other */
.sr { color: #48b685 } /* Literal.String.Regex */
.s1 { color: #48b685 } /* Literal.String.Single */
.ss { color: #48b685 } /* Literal.String.Symbol */
.bp { color: #2f1e2e } /* Name.Builtin.Pseudo */
.fm { color: #06b6ef } /* Name.Function.Magic */
.vc { color: #ef6155 } /* Name.Variable.Class */
.vg { color: #ef6155 } /* Name.Variable.Global */
.vi { color: #ef6155 } /* Name.Variable.Instance */
.vm { color: #ef6155 } /* Name.Variable.Magic */
.il { color: #f99b15 } /* Literal.Number.Integer.Long */
