.hll { background-color: #0000ff }
.c { color: #00ff00 } /* Comment */
.k { color: #ff0000 } /* Keyword */
.ch { color: #00ff00 } /* Comment.Hashbang */
.cm { color: #00ff00 } /* Comment.Multiline */
.cp { color: #e5e5e5 } /* Comment.Preproc */
.cpf { color: #00ff00 } /* Comment.PreprocFile */
.c1 { color: #00ff00 } /* Comment.Single */
.cs { color: #00ff00 } /* Comment.Special */
.kc { color: #ff0000 } /* Keyword.Constant */
.kd { color: #ff0000 } /* Keyword.Declaration */
.kn { color: #ff0000 } /* Keyword.Namespace */
.kp { color: #ff0000 } /* Keyword.Pseudo */
.kr { color: #ff0000 } /* Keyword.Reserved */
.kt { color: #ee82ee } /* Keyword.Type */
.s { color: #87ceeb } /* Literal.String */
.no { color: #7fffd4 } /* Name.Constant */
.nf { color: #ffff00 } /* Name.Function */
.nv { color: #eedd82 } /* Name.Variable */
.sa { color: #87ceeb } /* Literal.String.Affix */
.sb { color: #87ceeb } /* Literal.String.Backtick */
.sc { color: #87ceeb } /* Literal.String.Char */
.dl { color: #87ceeb } /* Literal.String.Delimiter */
.sd { color: #87ceeb } /* Literal.String.Doc */
.s2 { color: #87ceeb } /* Literal.String.Double */
.se { color: #87ceeb } /* Literal.String.Escape */
.sh { color: #87ceeb } /* Literal.String.Heredoc */
.si { color: #87ceeb } /* Literal.String.Interpol */
.sx { color: #87ceeb } /* Literal.String.Other */
.sr { color: #87ceeb } /* Literal.String.Regex */
.s1 { color: #87ceeb } /* Literal.String.Single */
.ss { color: #87ceeb } /* Literal.String.Symbol */
.fm { color: #ffff00 } /* Name.Function.Magic */
.vc { color: #eedd82 } /* Name.Variable.Class */
.vg { color: #eedd82 } /* Name.Variable.Global */
.vi { color: #eedd82 } /* Name.Variable.Instance */
.vm { color: #eedd82 } /* Name.Variable.Magic */
