<p>
    <i>Built and maintained by <a href="https://herman.bearblog.dev">Herman</a>.</i>
</p>
<small>
    <a href="https://github.com/HermanMartinus/bearblog/wiki/Privacy-Policy" target="_blank">Privacy Policy</a> | 
    <a href="https://github.com/HermanMartinus/bearblog/wiki/Terms-of-Service" target="_blank">Terms of Service</a> |
    <a href="https://github.com/HermanMartinus/bearblog/" target="_blank">Github</a> |
    <a href="https://github.com/HermanMartinus/bearblog/wiki/" target="_blank">Docs</a> |
    <a href="https://github.com/HermanMartinus/bearblog/wiki/Roadmap" target="_blank">Roadmap</a>
</small>