<p>
    <i>Built and maintained by <a href="https://herman.bearblog.dev">Herman</a>.</i>
</p>
<small>
    <a href="https://docs.bearblog.dev/privacy-policy" target="_blank">Privacy Policy</a> | 
    <a href="https://docs.bearblog.dev/terms-of-service" target="_blank">Terms of Service</a> |
    <a href="https://github.com/HermanMartinus/bearblog/" target="_blank">GitHub</a> |
    <a href="https://docs.bearblog.dev/" target="_blank">Docs</a> |
    <a href="https://bear.nolt.io/roadmap" target="_blank">Roadmap</a>
</small>