<p style="font-weight: 400; font-size: 14px; margin-top: -16px; width: 100%; text-align: left;">
    {{ blog.blank_useful_domain }} 
    <a href="{{ blog.dynamic_useful_domain }}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14" height="14" viewBox="0 0 48 48">
            <path d="M 40.960938 4.9804688 A 2.0002 2.0002 0 0 0 40.740234 5 L 28 5 A 2.0002 2.0002 0 1 0 28 9 L 36.171875 9 L 22.585938 22.585938 A 2.0002 2.0002 0 1 0 25.414062 25.414062 L 39 11.828125 L 39 20 A 2.0002 2.0002 0 1 0 43 20 L 43 7.2460938 A 2.0002 2.0002 0 0 0 40.960938 4.9804688 z M 12.5 8 C 8.3826878 8 5 11.382688 5 15.5 L 5 35.5 C 5 39.617312 8.3826878 43 12.5 43 L 32.5 43 C 36.617312 43 40 39.617312 40 35.5 L 40 26 A 2.0002 2.0002 0 1 0 36 26 L 36 35.5 C 36 37.446688 34.446688 39 32.5 39 L 12.5 39 C 10.553312 39 9 37.446688 9 35.5 L 9 15.5 C 9 13.553312 10.553312 12 12.5 12 L 22 12 A 2.0002 2.0002 0 1 0 22 8 L 12.5 8 z"></path>
        </svg>
    </a>
</p>

<span>
    <a href="{% url 'dashboard' id=blog.subdomain %}">Home</a>
    {% if blog %}
    <a href="{% url 'nav' id=blog.subdomain %}">Nav</a>
    <a href="{% url 'posts_edit' id=blog.subdomain %}">Posts</a>
    <a href="{% url 'pages_edit' id=blog.subdomain %}">Pages</a>
    <a href="{% url 'styles' id=blog.subdomain %}">Themes</a>
    <a href="{% url 'email_list' id=blog.subdomain %}">Emails</a>
    {% endif %}
    {% if not blog.user.settings.upgraded %}
    <a href="{% url 'upgrade' %}" style="color:salmon;" class="upgrade">Upgrade <span class="bear"></span></a>
    {% endif %}
</span>

<span>
    {% if blog.analytics_active %}
    <a href="{% url 'analytics' id=blog.subdomain %}">Analytics</a>
    {% endif %}
    <a href="{% url 'settings' id=blog.subdomain %}">Settings</a>
    <a href="{% url 'account' %}" class="account"></a>
</span>

{% if not blog.reviewed and not blog.to_review and posts.count > 0 %}
<p class="notification">
    🐼 Want to show up on the
    <a href="https://bearblog.dev/discover/" target="_blank">Discovery feed</a>?
    <a href="{% url 'opt_in_review' id=blog.subdomain %}">Submit your blog for review</a>.
</p>
{% endif %}

{% comment %} {% if not blog.user.settings.upgraded and not blog.reviewed and blog.created_after_mandatory_opt_in %}
<br>
<div style="margin-top: 15px; font-size: small;">
    This blog will expire in 48 hours. <a href="{% url 'opt_in_review' id=blog.subdomain %}">Verify your account</a> keep this blog active.
</div>
{% endif %} {% endcomment %}