<p style="margin-top: -16px; width: 100%; text-align: left; ">
    <a
        href="{{ blog.useful_domain }}"
        target="_blank"
        style="font-weight: 400; font-size: 14px; color: inherit; width: fit-content"
    >
        {{ blog.blank_useful_domain }}
    </a>
</p>

<span>
    <a href="{% url 'dashboard' id=blog.subdomain %}">Home</a>
    {% if blog %}
    <a href="{% url 'nav' id=blog.subdomain %}">Nav</a>
    <a href="{% url 'posts_edit' id=blog.subdomain %}">Posts</a>
    <a href="{% url 'pages_edit' id=blog.subdomain %}">Pages</a>
    <a href="{% url 'styles' id=blog.subdomain %}">Themes</a>
    <a href="{% url 'email_list' id=blog.subdomain %}">Emails</a>
    <a href="{% url 'media_center' id=blog.subdomain %}">Media</a>
    {% endif %}
    {% if not blog.user.settings.upgraded %}
    <a href="{% url 'upgrade' %}" style="color:salmon;" class="upgrade">Upgrade</a>
    {% endif %}
</span>

<span>
    {% if blog.analytics_active %}
    <a href="{% url 'analytics' id=blog.subdomain %}">Analytics</a>
    {% endif %}
    <a href="{% url 'settings' id=blog.subdomain %}">Settings</a>
    <a href="{% url 'account' %}">Account</a>
</span>

{% if not blog.reviewed and not blog.to_review and blog.posts.count > 0 %}
<p class="notification">
    <small>
    🐼 Your blog is currently hidden from search engines and the
    <a href="https://bocpress.co.uk/discover/" target="_blank">discover feed</a>.

    {% if blog.is_after_cutoff %}
        Upgrade to get discovered.
    {% else %}
        <a href="{% url 'opt_in_review' id=blog.subdomain %}">Submit your blog for review</a>.
    {% endif %}
    </small>
</p>
{% endif %}
