<small>
    <a href="https://docs.bocpress.co.uk/privacy-policy" target="_blank">Privacy Policy</a> |
    <a href="https://docs.bocpress.co.uk/terms-of-service" target="_blank">Terms of Service</a> |
    <a href="https://github.com/linuxgoose/bocpress/" target="_blank">GitHub</a> |
    <a href="https://docs.bocpress.co.uk/" target="_blank">Docs</a> |
    <a href="https://docs.bocpress.co.uk/roadmap" target="_blank">Roadmap</a>
    <a href="https://status.uptimia.com/bocpress" target="_blank">System Status</a>
</small>
