<span>
    <a href="{% url 'dashboard' id=blog.subdomain %}">Home</a>
    {% if blog %}
    <a href="{% url 'nav' id=blog.subdomain %}">Nav</a>
    <a href="{% url 'posts_edit' id=blog.subdomain %}">Posts</a>
    <a href="{% url 'pages_edit' id=blog.subdomain %}">Pages</a>
    <a href="{% url 'styles' id=blog.subdomain %}">Themes</a>
    <a href="{% url 'email_list' id=blog.subdomain %}">Emails</a>
    {% endif %}
    {% if not blog.user.settings.upgraded %}
    <a href="{% url 'upgrade' %}" style="color:salmon;" class="upgrade">Upgrade <span class="bear"></span></a>
    {% endif %}
</span>

<span>
    {% if blog.analytics_active %}
    <a href="{% url 'analytics' id=blog.subdomain %}">Analytics</a>
    {% endif %}
    <a href="{% url 'settings' id=blog.subdomain %}">Settings</a>
    <a href="{% url 'account' %}" class="account"></a>
</span>

{% if not blog.reviewed and not blog.to_review and posts.count > 0 %}
<p class="notification">
    🐼 Want to show up on the
    <a href="https://bearblog.dev/discover/" target="_blank">Discovery feed</a>?
    <a href="{% url 'opt_in_review' id=blog.subdomain %}">Submit your blog for review</a>.
</p>
{% endif %}

{% comment %} {% if not blog.user.settings.upgraded and not blog.reviewed and blog.created_after_mandatory_opt_in %}
<br>
<div style="margin-top: 15px; font-size: small;">
    This blog will expire in 48 hours. <a href="{% url 'opt_in_review' id=blog.subdomain %}">Verify your account</a> keep this blog active.
</div>
{% endif %} {% endcomment %}