<input type="file" id="file" hidden multiple accept="image/*">

<script>

	const $publishedDate = document.getElementById('published-date');
	const $form = document.querySelector('form');
	const $headerContent = document.getElementById('header_content');
	const $hiddenHeaderContent = document.getElementById('hidden_header_content');
	const $textarea = document.querySelector('textarea')
	const $previewButton = document.getElementById('preview')
	const $uploadButton = document.querySelector('#upload-image')
	
	const timezoneOffset = () => {
		const offset = -new Date().getTimezoneOffset();
		const sign = offset >= 0 ? '+' : '-';
		const hours = String(Math.abs(offset / 60)).padStart(2, '0');
		const minutes = String(Math.abs(offset % 60)).padStart(2, '0');
		const signedOffset = `${sign}${hours}:${minutes}`;

		return signedOffset
	};

	const utcToLocalTime = (utcDateTime) => {
		const offset = -new Date().getTimezoneOffset();
	
		const utcDate = new Date(utcDateTime + 'Z'); // Adding 'Z' to indicate UTC
		const localDate = new Date(utcDate.getTime() + offset * 60000);
		const formattedLocalDate = localDate.toISOString().slice(0, 16).replace('T', ' ');
		return formattedLocalDate;
	};

	// Showing local published date
	if ($publishedDate) {
		try {
			$publishedDate.innerText = utcToLocalTime($publishedDate.innerText);
		} catch (error) {
			console.error('Error converting UTC to local time:', error);
		}
	}

	// Submitting form with header content
	const addHeaderContentToFormAndSubmit = () => {
		if ($publishedDate) {
			try {
				$publishedDate.innerText = $publishedDate.innerText + timezoneOffset();
			} catch (error) {
				console.error('Error adding timezone offset:', error);
			}
		}
		$hiddenHeaderContent.value = $headerContent.innerText;
		$form.submit();
	}

	$form.addEventListener('submit', function(e) {
		e.preventDefault();
        addHeaderContentToFormAndSubmit()
    });

	document.addEventListener('keydown', function(event) {
		if ((event.ctrlKey || event.metaKey) && event.keyCode === 83) {
			event.preventDefault();
			addHeaderContentToFormAndSubmit()
		}
	});

	// Handle pasting of HTML into header content
	$headerContent.addEventListener('paste', function(e) {
        e.preventDefault();

        let text = '';

        if (e.clipboardData || e.originalEvent.clipboardData) {
            text = (e.originalEvent || e).clipboardData.getData('text/plain');
        } else if (window.clipboardData) {
            text = window.clipboardData.getData('Text');
        }

        if (document.queryCommandSupported('insertText')) {
            document.execCommand('insertText', false, text);
        } else {
            document.execCommand('paste', false, text);
        }
    });

	// Handle saving scroll position
	$textarea.scrollTop = sessionStorage.getItem('textareaY') || 0
	$textarea.addEventListener("scroll", function(event) {
		sessionStorage.setItem('textareaY', $textarea.scrollTop)
	})

	// Preview post
	if ($previewButton) {
		const previewForm = document.createElement('form')
		previewForm.target = "print_popup"
		previewForm.method = "POST"
		previewForm.action = "/{{ blog.subdomain }}/dashboard/preview/?type={% if post %}post{% else %}homepage{% endif %}"

		const headerContent = document.createElement("input");
		headerContent.type = "hidden"
		headerContent.name = "header_content"
		previewForm.appendChild(headerContent)
		document.body.appendChild(previewForm)

		const bodyContent = document.createElement("input");
		bodyContent.type = "hidden"
		bodyContent.name = "body_content"
		previewForm.appendChild(bodyContent)
		document.body.appendChild(previewForm)
	
		$previewButton.onclick = event => {
			window.open('about:blank','print_popup','width=1000,height=800');
			headerContent.value = document.querySelector('#header_content').innerText
			bodyContent.value = document.querySelector('#body_content').value
			previewForm.submit()
		}
	}

	// Upgraded features
	{% if request.user.settings.upgraded %}
	// Upload images
	const $fileInput = document.getElementById("file");

	$uploadButton.onclick = event => {
	    event.preventDefault()
	    $fileInput.click()
	}

	$fileInput.addEventListener("change", upload)

	function upload() {
	    if($fileInput.files[0].size > 10000000){
	        alert(`File over the 10mb limit. Use https://tinypng.com to minimise it.`)
	        return
	    }

	    var formData = new FormData();
	    var target = "{% url 'upload_image' id=blog.subdomain %}"

	    for (var i = 0; i<$fileInput.files.length; i++) {
	        formData.append("file", $fileInput.files[i])
	    }
	    const position = $textarea.selectionStart || 0

	    var xhr = new XMLHttpRequest()
	    var eventSource = xhr.upload || xhr

	    eventSource.addEventListener("progress", function(e){
	        $uploadButton.innerText = "Uploading..."
	    });
	    xhr.open("POST", target, true)
	    xhr.send(formData)
	    xhr.onload = function() {
	        if (this.status === 200) {
	            JSON.parse(this.responseText).forEach(image => {
						const blogTitle = "{{ blog.title|escapejs }}"
						const toInsert = `\n![${blogTitle}](${image})\n`
						if (position == 0) {
							$textarea.value += toInsert
						} else {
							$textarea.value = $textarea.value.substring(0, position) + toInsert + $textarea.value.substring(position, $textarea.value.length)
						}
	            })
	            $uploadButton.innerText = 'The image(s) have been added'
	            setTimeout(() => $uploadButton.innerText = "Insert image", 3000)
	        }
	    };
	}
	{% else %}
	$uploadButton.onclick = event => {
	    event.preventDefault()
		if (confirm("You've discovered a Pro feature ʕ•ᴥ•ʔﾉ♡\n\nUpgrade to unlock it and support the Tiny Internet!")) {
	    	window.open('/dashboard/upgrade/')
		}
	}
	{% endif %}
</script>
