<input type="file" id="file" hidden multiple accept="image/*">

<script>
	const form = document.querySelector('form')
    form.addEventListener('submit', function() {
        addHeaderContentToFormAndSubmit()
    });

	const addHeaderContentToFormAndSubmit = () => {
		const header_content = document.getElementById('header_content').innerText;
        document.getElementById('hidden_header_content').value = header_content;
		form.submit()
	}

	document.addEventListener('keydown', function(event) {
		if ((event.ctrlKey || event.metaKey) && event.keyCode === 83) {
			event.preventDefault();
			addHeaderContentToFormAndSubmit()
		}
	});

	// Handle pasting of HTML into header content
	document.getElementById('header_content').addEventListener('paste', function(e) {
        e.preventDefault();

        let text = '';

        if (e.clipboardData || e.originalEvent.clipboardData) {
            text = (e.originalEvent || e).clipboardData.getData('text/plain');
        } else if (window.clipboardData) {
            text = window.clipboardData.getData('Text');
        }

        if (document.queryCommandSupported('insertText')) {
            document.execCommand('insertText', false, text);
        } else {
            document.execCommand('paste', false, text);
        }
    });

	// Handle saving scroll position
	const textarea = document.querySelector('textarea')

	textarea.scrollTop = sessionStorage.getItem('textareaY') || 0
	textarea.addEventListener("scroll", function(event) {
		sessionStorage.setItem('textareaY', textarea.scrollTop)
	})

	{% comment %} textarea.addEventListener('input', autoResize, false);

	function autoResize() {
		this.style.height = 'auto';
		this.style.height = this.scrollHeight + 'px';
	}
	autoResize.call(textarea);

	window.scrollTo(0, sessionStorage.getItem('scrollY'))
	window.addEventListener("scroll", function(event) {
		sessionStorage.setItem('scrollY', window.scrollY)
	}) {% endcomment %}

	const previewButton = document.querySelector('#preview')
	if (previewButton) {
		const previewForm = document.createElement('form')
		previewForm.target = "print_popup"
		previewForm.method = "POST"
		previewForm.action = "/dashboard/preview/?type={% if post %}post{% else %}homepage{% endif %}"

		const headerContent = document.createElement("input");
		headerContent.type = "hidden"
		headerContent.name = "header_content"
		previewForm.appendChild(headerContent)
		document.body.appendChild(previewForm)

		const bodyContent = document.createElement("input");
		bodyContent.type = "hidden"
		bodyContent.name = "body_content"
		previewForm.appendChild(bodyContent)
		document.body.appendChild(previewForm)
	
		previewButton.onclick = event => {
			window.open('about:blank','print_popup','width=1000,height=800');
			headerContent.value = document.querySelector('#header_content').innerText
			bodyContent.value = document.querySelector('#body_content').value
			previewForm.submit()
		}
	}

	{% if blog.upgraded %}
	const uploadButton = document.querySelector('#upload-image')

	uploadButton.onclick = event => {
	    event.preventDefault()
	    document.getElementById("file").click()
	}

	document.getElementById("file").addEventListener("change", upload)

	function upload() {
	    if(document.getElementById("file").files[0].size > 10000000){
	        alert(`File over the 10mb limit. Use https://tinypng.com to minimise it.`)
	        return
	    }

	    var formData = new FormData();
	    var target = '/dashboard/upload-image/'

	    var fileInput = document.getElementById("file")
	    for (var i = 0; i<fileInput.files.length; i++) {
	        formData.append("file", fileInput.files[i])
	    }
	    const textarea = document.querySelector('textarea')
	    const position = textarea.selectionStart || 0

	    var xhr = new XMLHttpRequest()
	    var eventSource = xhr.upload || xhr

	    eventSource.addEventListener("progress", function(e){
	        uploadButton.innerText = "Uploading..."
	    });
	    xhr.open("POST", target, true)
	    xhr.send(formData)
	    xhr.onload = function() {
	        if (this.status === 200) {
	            JSON.parse(this.responseText).forEach(image => {
						const blogTitle = "{{ blog.title|escapejs }}"
						const toInsert = `\n![${blogTitle}](${image})\n`
						if (position == 0) {
							textarea.value += toInsert
						} else {
							textarea.value = textarea.value.substring(0, position) + toInsert + textarea.value.substring(position, textarea.value.length)
						}
	            })
	            uploadButton.innerText = 'The image(s) have been added'
	            setTimeout(() => uploadButton.innerText = "Insert image", 3000)
	        }
	    };
	}
	{% else %}
	document.querySelector('#upload-image').onclick = event => {
	    event.preventDefault()
		if (confirm("You've discovered a Pro feature ʕ•ᴥ•ʔﾉ♡\n\nUpgrade to unlock it and support the Tiny Internet!")) {
	    	window.open('/dashboard/upgrade/')
		}
	}
	{% endif %}
</script>
