<p>
    <details style="font-size: 12px">
        <summary>Available header options</summary>
        <p style="display:grid;grid-template-columns: auto auto;">
            <span>
                <b>title:</b> I like Bears
            </span>
            <span>
                <a href="https://docs.bearblog.dev/post#title" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                required
            </span>
            <span>
                <b>link:</b> i-like-bears
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#link" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - leave empty to auto-generate
            </span>
            <span>
                <b>alias:</b> 2012/01/02/cool-post.html
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#alias" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - leave empty if not necessary
            </span>
            <span>
                <b>canonical_url:</b> https://example.com/i-like-bears
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#canonical-url" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - leave empty to auto-generate
            </span>
            <span>
                <b>published_date:</b> 2022-12-30
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#published-date" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - leave empty to publish now
            </span>
            <span>
                <b>is_page:</b> false
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#is-page" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - set as page
            </span>
            <span>
                <b>meta_description:</b> Bears are pretty cool, according to science.
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#meta-description" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - leave empty to auto-generate
            </span>
            <span>
                <b>meta_image:</b> https://bear-images.sfo2.cdn.digitaloceanspaces.com/herman-1683556746-0.jpeg
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#meta-image" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - valid image url for previews
            </span>
            <span>
                <b>lang:</b> en
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#lang" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - defaults to language of blog
            </span>
            <span>
                <b>tags:</b> bears, writing, thoughts
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#tags" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - comma separated list of tags
            </span>
            <span>
                <b>make_discoverable:</b> true
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#make-discoverable" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - show in the <a href="https://bearblog.dev/discover/" target="_blank" style="text-decoration:none">discovery feed</a>
            </span>
            <span>___</span><span></span>
        </p>
    </details>
</p>