<!-- Primary Meta Tags -->
<meta name="title" content="{{ title }}">
<meta name="description"
  content="{{ description }}">
<meta name="keywords" content="{{ tags }}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ title }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description"
  content="{{ description }}">
<meta property="og:image" content="https://i.imgur.com/b499n4R.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{ url }}">
<meta property="twitter:title" content="{{ title }}">
<meta property="twitter:description"
  content="{{ description }}">
<meta property="twitter:image" content="https://i.imgur.com/b499n4R.png">

<!-- Microdata -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Website",
    "name": "{{ title }}",
    "url": "{{ url }}",
    "description": "{{ description }}",
    "about": {
      "@type": "{{ title }}",
      "description": "{{ description }}"
    },
  }
</script>