<!-- Primary Meta Tags -->
<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content="{{ site_name }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="{{ type }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{% if image %}{{ image }}{% else %}https://bear-images.sfo2.cdn.digitaloceanspaces.com/herman-1683556668-0.png{% endif %}">


<!-- Twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{ url }}">
<meta property="twitter:title" content="{{ title }}">
<meta property="twitter:description" content="{{ description }}">
<meta property="twitter:image" content="{% if image %}{{ image }}{% else %}https://bear-images.sfo2.cdn.digitaloceanspaces.com/herman-1683556668-0.png{% endif %}">

{{ meta_tag | safe }}

<!-- Microdata -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ type }}",
    "name": "{{ title }}",
    "url": "{{ url }}",
    "description": "{{ description }}",
    "about": {
      "@type": "{{ title }}",
      "description": "{{ description }}"
    }
  }
</script>