<h1>Hey, Herman here  ʕ •ᴥ•ʔゝ</h1>
<p>This feature is currently only available to people contributing to the Bear project. For now.</p>
<ul>
    <li>Add email subscriptions to your blog</li>
    <li>Notify subscribers of new posts via email (work in progress)</li>
</ul>
<p>If you're keen to contribute there's a PayPal form below. Give me a day or so to grant beta access to you :)</p>

<form style="text-align:center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="BT9VMHEZ5A82S">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
	<option value="Some support">Some support : $5.00 USD - monthly</option>
	<option value="Even more support">Even more support : $25.00 USD - monthly</option>
	<option value="Lots of support">Lots of support : $50.00 USD - monthly</option>
	<option value="You're too kind">You're too kind : $100.00 USD - monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



