<h1>Hey, Herman here  ʕ •ᴥ•ʔゝ</h1>
<p>This feature is currently only available to people contributing to the Bear project. For now.</p>
<ul>
    <li>Add email subscriptions to your blog</li>
    <li>Email subscribers new posts automatically (work in progress)</li>
	<li>Blog API (work in progress)</li>
</ul>
<p>If you're keen to contribute there's a PayPal button below.</p>

<div id="paypal-button-container-P-04C10350V4946812SMCN56MA" style="width: 300px"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AR1r8JHELZ6X04dTtwQrwp6dca8JeopBGHQ8JqLnZ3FqWyh57IcHZlXKQBj2PgT8qCFFdnJnHf_qiYCY&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script> 
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'silver',
          layout: 'vertical',
          label: 'paypal'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-04C10350V4946812SMCN56MA'
        });
      },
      onApprove: function(data, actions) {
        alert("Thanks for your support! Give me a day or two to grant you access to the beta features."); // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-04C10350V4946812SMCN56MA'); // Renders the PayPal button
</script>



