<h3>Hey, Herman here  ʕ •ᴥ•ʔゝ</h3>
<p>
	Bear is free, yet will never sell your data or display ads.
	<br>
	<br>
	In order to keep the servers running and the coffee hot,
	I charge for the most resource-intensive parts of Bear:
	<ul>
		<li>Custom domains</li>
		<li>Image uploading</li>
		<li>In-depth analytics</li>
		<li>Email subscriber lists</li>
		<li>Beta features</li>
	</ul>
</p>
<p>
	<b>
		Upgrade with a 
		{% comment %} <a target="_blank" href="https://bear.lemonsqueezy.com/checkout/buy/2f0a4d87-10d9-4a74-b241-ba2c4d6b821b?discount=0&checkout[custom][blog]={{blog.subdomain}}">
			$5 per month.
		</a>
		or make a  {% endcomment %}
		<a href="https://bear.lemonsqueezy.com/checkout/buy/4aca490f-f6a2-4d62-81d6-75f2cd034961?discount=0&checkout[custom][blog]={{blog.subdomain}}">
			once-off payment of $29
		</a>
	</b>
</p>
<h3>Keep the tiny internet awesome!  \ʕ•ᴥ•ʔ/</h2>