<form id="upvote-form" action="/upvote/{{ post.uid }}/" method="post" style="display: inline">
    <small>
        <input hidden name="uid" value="{{ post.uid }}" style="display:none">
        <input hidden name="title" style="display:none">
        {% csrf_token %}
        {% if upvoted %}
        <button
            class="upvote-button upvoted"
            disabled=true
            title="Toasted"
        >
        {% else %}
        <button
            class="upvote-button"
            title="Toast this post"
        >
        {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <polyline points="17 11 12 6 7 11"></polyline>
                <polyline points="17 18 12 13 7 18"></polyline>
            </svg>
            <small class="upvote-count">{{ post.upvotes }}</small>
        </button>
    </small>        
</form>

<script>
    document.querySelector('#upvote-form').addEventListener('submit', (e) => {
        e.preventDefault();
        const form = e.target;
        fetch(form.action, {
            method: form.method,
            body: new FormData(form),
        });
        const button = form.querySelector('button')
        button.disabled = true
        button.style.color = "salmon"
        const upvoteCount = document.querySelector('.upvote-count')
        upvoteCount.innerHTML = `${(parseInt(upvoteCount.innerHTML.split(" ")[0]) + 1)}`
    });
</script>