<small>
    <form id="upvote-form" action="/upvote/{{ post.pk }}/" method="post" style="display: inline">
        <input hidden name="pk" value="{{ post.pk }}" style="display:none"/>
        <input hidden name="title" style="display:none"/>
        {% csrf_token %}
        {% if upvoted %}
        <button disabled=true>▵ Toasted</button>
        {% else %}
        <button>▵ Toast this post</button>
        {% endif %}
    </form>
    - <small class="upvote-count">{{ post.upvotes }} toast{{ post.upvotes|pluralize }}</small>
</small>
<script>
    document.querySelector('#upvote-form').addEventListener('submit', (e) => {
        e.preventDefault();
        const form = e.target;
        fetch(form.action, {
            method: form.method,
            body: new FormData(form),
        });
        const button = form.querySelector('button')
        button.disabled = true
        button.innerText = "▵ Toasted"
        const upvoteCount = document.querySelector('.upvote-count')
        upvoteCount.innerHTML = `${(parseInt(upvoteCount.innerHTML.split(" ")[0]) + 1)} toasts`
    });
</script>