{% extends 'base.html' %}

{% block title %}
    Analytics | Bear Blog
{% endblock %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Analytics</h1>
    --Timeframe--

    <p>
        <b>Unique reads:</b> {{ unique_reads.hit_count__sum }}<br>
        <b>Unique visitors:</b> {{ unique_visitors }}
    </p>

    <div style="display:flex;justify-content:space-between; font-size: 12px;">
        <div style="width:48%">
            <h3>Pages</h3>
            {% for post in posts %}
            <ul style="padding: 0;">
                <li style="display:flex;justify-content:space-between;">
                {{post.title}} <span>{{post.hit_count}}
                </li>
            </ul>
            {% endfor %}
        </div>
        <div style="width:48%">
            <h3>Referrers</h3>
            <ul style="padding: 0;">
                {% for referrer in referrers %}
                <li style="display:flex;justify-content:space-between;">
                    {{ referrer.referrer }}
                    <span>{{ referrer.number }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</content>
{% endblock %}