{% extends 'base.html' %}

{% block title %}Blog list | Bear Blog{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<h1>Your blogs</h1>

{% if not request.user.settings.upgraded and request.user.blogs.all|length > 1 %}
    <p style="color:lightsalmon">
        You've exceeded the number of blogs for the free plan.
        Please <a href="{% url 'upgrade' %}" style="color:lightsalmon;text-decoration:underline">upgrade</a> to keep your blogs. 
    </p>
{% endif %}

<ul>
{% for blog in blogs %}
    <li>
        <a href="{% url 'dashboard' id=blog.subdomain %}">{{ blog.title }}</a>
    </li>
{% endfor %}
</ul>
{% if request.user.blogs.all|length > 0 and not request.user.settings.upgraded %}
<p>
    <a href="{% url 'upgrade' %}" style="color:salmon;" class="upgrade">Upgrade to create up to 10 blogs <span class="bear flex"></span></a>
</p>
{% else %}
{% if error_messages %}
<p style="color:lightsalmon">
    {% for error_message in error_messages %}
        {{ error_message }}<br>
    {% endfor %}
</p>
{% endif %}
{% if request.user.blogs.all|length < request.user.settings.max_blogs %}
<h2>Create a new blog</h2>
<form method="POST" class="post-form full-width">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% else %}
<p>
    <b>You've reached your maximum number of blogs.</b>
    <br>
    If you need additional blogs send an email to <a href="mailto:herman@bearblog.dev">herman@bearblog.dev</a>
    from the email address associated with your account.
</p>
{% endif %}

{% endif %}


<h2>Account</h2>

<p>
    <a href="{% url 'account_logout' %}">Sign out</a>
</p>

<p>
    <a href="{% url 'dashboard_customisation' %}">Customise dashboard</a>
</p>

<p>
    <a href="/accounts/email/">Update email address</a>
</p>
<p>
    <a href="/accounts/password/change/">Change password</a>
</p>

{% if subscription_link %}
<p>
    <a href="{{ subscription_link }}" target="_blank">Manage subscription</a>
</p>
<p>
    <a href="https://docs.bearblog.dev/upgrading-from-subscription-to-lifetime/" target="_blank">Upgrade to lifetime</a>
</p>
{% endif %}

<p>
    {% if subscription_link and not subscription_cancelled %}
    <a onclick="alert('Please cancel your subscription before deleting your account.')">Delete account</a>
    {% else %}
    <a href="{% url 'user_delete' %}" style="color:lightsalmon">Delete account</a>
    {% endif %}
</p>
<p>
    If you have any requests use the
    <a href="https://bear.nolt.io" target="_blank">suggestions board</a>,
    or if you've found a bug pop me an <a href="mailto:herman@bearblog.dev">email</a>.
</p>


{% endblock %}