
{% extends 'base.html' %}

{% block title %}
Directives | Bear Blog
{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ blog.dashboard_styles | safe }}
{% endblock %}

{% block content %}
<main>
    <h1>Directives</h1>
    <p class="helptext">
        Extend your Bear blog by adding custom code to the &lt;head&gt; and &lt;footer&gt; tags.
    </p>
    <form method="POST" class="post-form full-width">
        {% csrf_token %}
        <p style="line-height: 0">
            <button onclick="event.preventDefault(); window.location = '/dashboard/settings/'">&#8592; Back</button>
            <button type="submit">Save</button>
            <button onclick="event.preventDefault(); window.open('{{ blog.dynamic_domain }}');">View</button>
        </p>
        <p>
            <label>Head directive:</label>
            <br>
            <textarea name="header" style="height: 150px;">{{ blog.header_directive }}</textarea>
        </p>
        <p>
            <label>Footer directive:</label>
            <br>
            <textarea name="footer" style="height: 150px;">{{ blog.footer_directive }}</textarea>
            <span class="helptext">Markdown/HTML</span>
        </p>
    </form>
</main>
{% endblock %}