{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
{% if post %}
Editing {{ post.title }} | Bear Blog
{% else %}
New post | Bear Blog
{% endif %}
{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block content %}

{% if error_messages %}
<p style="color:lightsalmon">
    {% for error_message in error_messages %}
        {{ error_message }}<br>
    {% endfor %}
</p>
{% endif %}
<form method="POST" class="post-form full-width">
    <p class="sticky-controls">
        <button
            onclick="event.preventDefault(); sessionStorage.clear(); window.location = '{% if post.is_page or is_page %}{% url 'pages_edit' id=blog.subdomain %}{% else %}{% url 'posts_edit' id=blog.subdomain %}{% endif %}'"
        >
            &#8592; Back
        </button>
        <button type="submit" onclick="document.getElementById('publish').value = true;">Publish</button>
        
        {% if post %}
            <button onclick="event.preventDefault(); window.open('{{ blog.dynamic_useful_domain }}/{{ post.slug }}{% if not post.publish %}?token={{ post.token }}{% endif %}');">
                View{% if not post.publish %} draft{% endif %}
            </button>
            <button
                style="color: red; float: right;"
                onclick="event.preventDefault(); deletePost();"
            >
                Delete
            </button>
        {% endif %}
        <button type="submit" {% if post.publish %}style="color: lightsalmon;"{% endif %} onclick="document.getElementById('publish').value = false;">
            {% if post.publish %}
            Unpublish
            {% else %}
            Save as draft
            {% endif %}
        </button>
    </p>

    <details style="font-size: 12px; margin-bottom: 10px;">
        <summary>
            Attributes
        </summary>
        <p>
            title: I like Bears<br>
            link: i-like-bears<br>
            alias: 2012/01/02/cool-post.html<br>
            canonical_url: https://example.com/bears<br>
            published_date: 2022-12-30 08:30<br>
            is_page: false<br>
            meta_description: Look for the bear necessities.<br>
            meta_image: https://example.com/image.jpeg<br>
            lang: en<br>
            tags: {% if blog.tags %}{{ blog.tags|join:", " }}{% else %}bears, writing, thoughts{% endif %}<br>
            make_discoverable: true
        </p>
        <a href="https://docs.bearblog.dev/post" target="_blank">
            More info
        </a>
    </details>
    
    {% csrf_token %}
    <input type="text" name="publish" id="publish" value="{{ post.publish|lower }}" hidden>
    <div
        id="header_content"
        class="editable"
        contenteditable="true"
        style="margin-bottom:-1px; border-bottom: 1px solid lightgrey;"
    >
        {% if post %}
        <b>title:</b> {{ post.title }}<br>
        <b>link:</b> {{ post.slug }}{% if post.alias %}<br>
        <b>alias:</b> {{ post.alias }}{% endif %}<br>
        <b>published_date:</b> <span id="published-date">{% format_date post.published_date 'Y-m-d H:i' 'en' tz %}</span>{% if post.canonical_url %}<br>
        <b>canonical_url:</b> {{ post.canonical_url }}{% endif %}{% if post.meta_description %}<br>
        <b>meta_description:</b> {{ post.meta_description }}{% endif %}{% if post.meta_image %}<br>
        <b>meta_image:</b> {{ post.meta_image }}{% endif %}{% if post.lang %}<br>
        <b>lang:</b> {{ post.lang }}{% endif %}{% if post.tags|length > 0 %}<br>
        <b>tags:</b> {{ post.tags|join:", " }}{% endif %}{% if post.is_page %}<br>
        <b>is_page:</b> {{ post.is_page|lower }}{% endif %}{% if post.class_name %}<br>
        <b>class_name:</b> {{ post.class_name }}{% endif %}{% if not post.make_discoverable %}<br>
        <b>make_discoverable:</b> {{ post.make_discoverable|lower }}<br>{% endif %}{% elif template_header %}
        <b>{{ template_header|linebreaksbr }}</b>{% if is_page %}<b>is_page:</b> true{% endif %}{% else %}<b>title:</b> <br>{% if is_page %}<b>is_page:</b> true{% endif %}{% endif %}
    </div>

    <input type="hidden" id="hidden_header_content" name="header_content">

    <textarea
        name="body_content"
        id="body_content"
        style="min-height: 500px;border-top: 1px solid lightgrey;"
        placeholder="..."
    >{% if post %}{{ post.content }}{% else %}{{ template_body }}{% endif %}</textarea>

    <span class="helptext sticky">
        <span>
            <a href='https://herman.bearblog.dev/markdown-cheatsheet/' target='_blank'>Markdown syntax</a>
        </span>
        <span>
            <a id='upload-image'>Insert media</a> |
            <a href="{% url 'media_center' id=blog.subdomain %}" target="_blank">Media</a> |
            <a id="preview">Preview</a>
        </span>
    </span>
</form>

{% include '../snippets/editor_functions.html' with blog=blog post=post%}
{{ request.user.settings.dashboard_footer | safe }}
{% endblock %}