{% extends 'base.html' %}

{% block title %}Post template | Bear Blog{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block content %}
<h1>Post template</h1>
<form method="POST" class="post-form full-width">
    {% csrf_token %}
    <p>
        <button onclick="event.preventDefault(); window.location = '/{{ blog.subdomain }}/dashboard/posts/'">&#8592; Back</button>
        <button type="submit">Update</button>
    </p>
    {{ form.as_p }}
</form>
{% endblock %}