{% extends 'base.html' %}

{% block title %}
{% if post %}
Editing {{ post.title }} | Bear Blog
{% else %}
New post | Bear Blog
{% endif %}
{% endblock %}

{% block content %}
<content>
    <h1>
        {% if post %}
        Edit post
        {% else %}
        New post
        {% endif %}
    </h1>
    {% if error_message %}
    <p style="color:lightsalmon">
        {{ error_message }}
    </p>
    {% endif %}
    <form method="POST" class="post-form full-width">
        <p style="line-height: 0">
            <button onclick="event.preventDefault(); window.location = '/dashboard/posts/'">&#8592; Back</button>
            <button type="submit" onclick="document.getElementById('publish').value = true;">Publish</button>
            
            {% if post %}
                <button onclick="event.preventDefault(); window.open('{{ blog.dynamic_domain }}/{{ post.slug }}{% if not post.publish %}?preview=true{% endif %}');">
                    View{% if not post.publish %} draft{% endif %}
                </button>
                <button
                    style="color: red; float: right;"
                    onclick="event.preventDefault();if(confirm('Are you sure?')){window.location = '/dashboard/posts/{{ post.pk }}/delete/';}"
                >
                    Delete
                </button>
            {% endif %}
            <button type="submit" {% if post.publish %}style="color: lightsalmon;"{% endif %} onclick="document.getElementById('publish').value = false;">
                {% if post.publish %}
                Unpublish
                {% else %}
                Save as draft
                {% endif %}
            </button>
        </p>

        {% include '../snippets/post_header_options.html' %}
        
        {% csrf_token %}
        <input type="text" name="publish" id="publish" value="{{ post.publish|lower }}" hidden />
        <textarea
            name="raw_content"
            style="width: calc(100% - 13px); height: 500px"
            rows="10" 
        >{% if error_message and raw_content  %}{{ raw_content }}{% elif post %}
title: {{ post.title }}
link: {{ post.slug }}{% if post.alias %}
alias: {{ post.alias }}{% endif %}
published_date: {{ post.published_date|date:"Y-m-d" }}{% if post.canonical_url %}
canonical_url: {{ post.canonical_url }}{% endif %}{% if post.meta_description %}
meta_description: {{ post.meta_description }}{% endif %}{% if post.meta_image %}
meta_image: {{ post.meta_image }}{% endif %}{% if post.lang %}
lang: {{ post.lang }}{% endif %}{% if tags %}
tags: {% for tag in tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if post.is_page %}
is_page: {{ post.is_page|lower }}{% endif %}{% if not post.make_discoverable %}
make_discoverable: {{ post.make_discoverable|lower }}{% endif %}
___

{{ post.content }}
{% elif blog.post_template %}{{ blog.post_template }}{% else %}
title: Post title
___

# Big header
## Medium header
### Small header

**bold**
*italics*
~~strikethrough~~

This is a [link](http://www.example.com) and this one opens in a [new tab](tab:https://www.example.com).

![Image](https://i.imgur.com/3jxqrKP.jpeg){% endif %}</textarea>

        <span class="helptext">
            <span>
                Learn <a href='https://herman.bearblog.dev/markdown-cheatsheet/' target='_blank'>markdown syntax</a>
            </span>
            <span style="float:right">
                <a id='upload-image'>Insert image</a> |
                <a id="preview">Preview</a>
            </span>
        </span>
    </form>
</content>

{% include '../snippets/editor_functions.html' with blog=blog post=post%}
{% endblock %}