{% extends 'base.html' %}

{% block title %}Dashboard | Bear Blog{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block nav %}{% include '../snippets/dashboard_nav.html' %}{% endblock %}

{% block content %}
<h1>Home</h1>

{% if error_messages %}
<p style="color:lightsalmon">
    {% for error_message in error_messages %}
        {{ error_message }}<br>
    {% endfor %}
</p>
{% endif %}

<form method="POST" class="post-form full-width">
    <p class="sticky-controls">
        <button type="submit">Publish</button>
        {% if blog %}
        <button onclick="event.preventDefault(); window.open('{{ blog.dynamic_useful_domain }}')">View</button>
        {% endif %}
    </p>
    <details style="font-size: 12px; margin-bottom: 10px;">
        <summary>
            Attributes
        </summary>
        <p>
            title: Baloo's blog<br>
            favicon: 🐻<br>
            meta_description: Look for the bear necessities.<br>
            meta_image: https://example.com/image.jpeg
        </p>
        <a href="https://docs.bearblog.dev/home-page" target="_blank">
            More info
        </a>
    </details>
    
    {% csrf_token %}

    <div
        id="header_content"
        class="editable"
        contenteditable="true"
        style="margin-bottom:-1px; border-bottom: 1px solid lightgrey;"
    >
        <b>title:</b> {{ blog.title }}{% if blog.favicon %}<br>
        <b>favicon:</b> {{ blog.favicon }}{% endif %}{% if blog.meta_description %}<br>
        <b>meta_description:</b> {{ blog.meta_description }}{% endif %}{% if blog.meta_image %}<br>
        <b>meta_image:</b> {{ blog.meta_image }}{% endif %}
    </div>

    <input type="hidden" id="hidden_header_content" name="header_content">

    <textarea
        id="body_content"
        name="body_content"
        style="min-height: 500px;border-top: 1px solid lightgrey;"
        placeholder="..."
    >{{ blog.content }}</textarea>

</form>

<span class="helptext sticky">
    <span>
        <a href='https://herman.bearblog.dev/markdown-cheatsheet/' target='_blank'>Markdown syntax</a>
    </span>
    <span>
        <a id='upload-image'>Insert media</a> |
        <a href="{% url 'media_center' id=blog.subdomain %}" target="_blank">Media</a>
    </span>
</span>

{% include '../snippets/editor_functions.html' with blog=blog%}
{{ request.user.settings.dashboard_footer | safe }}
{% endblock %}