{% extends 'base.html' %}

{% block title %}Dashboard | Bear Blog{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ blog.dashboard_styles | safe }}
{% endblock %}

{% block nav %}{% include '../snippets/dashboard_nav.html' %}{% endblock %}

{% block content %}

<h1>Home</h1>

{% if error_messages %}
<p style="color:lightsalmon">
    {% for error_message in error_messages %}
        {{ error_message }}<br>
    {% endfor %}
</p>
{% endif %}

{% if info_message %}
<p style="color: black">
    The DNS records for <b>{{ blog.domain }}</b> have not been set up.
    <h4>Set the following DNS record</h4>
    <table>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Content</th>
            <th>TTL</th>
        </tr>
        <tr>
            <td>CNAME</td>
            <td><small>{{ blog.blank_domain }}</small></td>
            <td><small>domain-proxy.bearblog.dev</small></td>
            <td>3600</td>
        </tr>
    </table>
    <p>
        <small>
            <b>If you're using Cloudflare turn off the proxy (the little orange cloud).</b>
            <br>
            It may take some time for the DNS records to propagate.
            <br>
            <a href="https://docs.bearblog.dev/custom-domains/" target="_blank">Having issues?</a>
        </small>
    </p>
</p>
{% endif  %}

<form method="POST" class="post-form full-width">
    <p class="sticky-controls">
        <button type="submit">Publish</button>
        {% if blog %}
        <button onclick="event.preventDefault(); window.open('{{ blog.dynamic_domain }}')">View</button>
        {% endif %}
    </p>
    <details style="font-size: 12px; margin-bottom: 10px;">
        <summary>
            Attributes
        </summary>
        <p>
            title: Baloo's blog<br>
            bear_domain: baloo.bearblog.dev<br>
            custom_domain: baloothebear.com<br>
            favicon: 🐻<br>
            meta_description: Look for the bear necessities.<br>
            meta_image: https://example.com/image.jpeg<br>
            lang: en<br>
            date_format: d M, Y
        </p>
        <a href="https://docs.bearblog.dev/home-page" target="_blank" style="text-decoration:none">
            More info
        </a>
    </details>
    
    {% csrf_token %}

    <div
        id="header_content"
        class="editable"
        contenteditable="true"
        style="margin-bottom:-1px; border-bottom: 1px solid lightgrey;"
    >
        <b>title:</b> {{ blog.title }}<br>
        <b>bear_domain:</b> {{ blog.blank_bear_domain }}{% if blog.domain %}<br>
        <b>custom_domain:</b> {{ blog.domain }}{% endif %}<br>
        <b>favicon:</b> {{ blog.favicon }}{% if blog.meta_description %}<br>
        <b>meta_description:</b> {{ blog.meta_description }}{% endif %}{% if blog.meta_image %}<br>
        <b>meta_image:</b> {{ blog.meta_image }}{% endif %}{% if blog.lang != 'en' %}<br>
        <b>lang:</b> {{ blog.lang }}{% endif %}{% if blog.date_format != '' %}<br>
        <b>date_format:</b> {{ blog.date_format }}{% endif %}{% if blog.meta_tag and blog.meta_tag != "<meta name='' property='' content=''>" %}<br>
        <b>custom_meta_tag:</b> {{ blog.meta_tag }}{% endif %}
    </div>

    <input type="hidden" id="hidden_header_content" name="header_content">

    <textarea
        name="body_content"
        style="min-height: 500px;border-top: 1px solid lightgrey;"
        placeholder="..."
    >{{ blog.content }}</textarea>

</form>

<span class="helptext sticky">
    <span>
        <a href='https://herman.bearblog.dev/markdown-cheatsheet/' target='_blank'>Markdown syntax</a>
    </span>
    <span>
        <a id='upload-image'>Insert image</a>
    </span>
</span>

{% include '../snippets/editor_functions.html' with blog=blog%}
{% endblock %}