:root {
	--width: 900px;
	--font-main: Times New Roman, serif;
    --font-secondary: Times New Roman, serif;
    --font-scale: 1.1em;
	--background-color: #fff;
	--heading-color: #242121;
	--text-color: #573d3d;
	--link-color: #ff5e6c;
	--visited-color: #fca9b0;
	--code-background-color: #f2f2f2;
	--code-color: #222;
	--blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #19150f;
        --heading-color: #eee;
        --text-color: #ddd;
        --link-color: #ff5e6c;
      	--visited-color: #fca9b0;
        --code-background-color: #000;
        --code-color: #ddd;
        --blockquote-color: #ccc;
    }
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  	font-family: var(--font-main);
    color: var(--heading-color);
}

strong, b {
  	color: var(--heading-color);
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
}

nav a {
    margin-right: 5px;
}

button {
    margin: 0;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
}

blockquote {
    border-left: 1px solid #999;
    color: var(--code-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: center;
}

.title {
    text-decoration: none;
}

.title h1 {
    font-size: 1.5em;
}

.inline {
    width: auto !important;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: scroll;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}