Hi, Herman here 👋
<br><br>
It's been good having you on Bear!
<br><br>
Since you've been on a monthly plan for a while, I wanted to let you know that upgrading to a yearly plan gives you 4 months free compared to what you're currently paying. 
Or go lifetime and never pay again. 
Both options support the project and reduce the payment processing fees for me.
<br><br>
You can upgrade in the <a href="https://bearblog.dev/dashboard/">Account section of your dashboard</a>.
<br><br>
Thanks for being a part of Bear Blog!
<br><br>
Have a goodie!
<br>
--<br>
Herman Martinus<br>
<a href="https://herman.bearblog.dev">My blog</a> | <a href="https://herman.bearblog.dev/now/">What I'm doing now</a>
