Hi, Herman here 👋
<br><br>
You've been blogging on Bear for a couple of months now, it's been good having you!
<br><br>
I'm emailing to let you know that upgrading to a yearly plan effectively gives you 4 months free per year. 
Or go lifetime and pay once, blog forever. Never think about it again.
<br><br>
Both options support the project and reduce the payment processing fees for me.
<br><br>
You can upgrade in the <a href="https://bearblog.dev/dashboard/">Account section of your dashboard</a>.
<br><br>
Either way, glad you're here!
<br><br>
Have a goodie!
<br>
--<br>
Herman Martinus<br>
<a href="https://herman.bearblog.dev">My blog</a> | <a href="https://herman.bearblog.dev/now/">What I'm doing now</a>
