{% extends 'base.html' %}

{% block title %}403{% endblock %}

{% block custom_styles %}{% include 'snippets/styles.html' with blog=blog %}{% endblock %}

{% block heading %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div style="text-align: center; display: flex; flex-flow: column; justify-content: center; height: calc(100vh - 70px);">
    <h1>403</h1>
    <h2>ʕノ•ᴥ•ʔノ ︵ ┻━┻</h2>
    <p>
        It looks like the form timed out or there's a CSRF issue.
        <br>
        <a onclick="window.location.reload()">Reloading</a>  should solve this, otherwise start from <a href="/">here</a>.
    </p>
</div>
{% endblock %}

{% block footer %}{% endblock %}