{% extends 'base.html' %}

{% block title %}404{% endblock %}

{% block page_type %}not-found{% endblock %}

{% block custom_styles %}{% include 'snippets/styles.html' with blog=blog %}{% endblock %}

{% block heading %}{{ blog.title }}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div style="text-align: center; display: flex; flex-flow: column; justify-content: center; height: calc(100vh - 70px);">
    <h1>404</h1>
    <h2>ʕノ•ᴥ•ʔノ ︵ ┻━┻</h2>
    <p>
        It looks like this page doesn't exist.
        <br>
        Let's get you
        <a href="/">back home</a>.
    </p>
</div>
{% endblock %}

{% block footer %}{% endblock %}