<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">

<head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="bear-validation" content="look-for-the-bear-necessities"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5"/>
  <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{% block favicon %}🐼{% endblock %}</text></svg>">
  <link rel="alternate icon" href="/favicon.ico" type="image/x-icon" sizes="48x48"/>
  <title>{% block title %}Bear Blog{% endblock %}</title>
  {% block canonical %}
  {% endblock %}
  {% block seo %}
  {% endblock %}
  {% block analytics %}
  {% endblock %}
  {% block imports %}
  {% endblock %}

  <style>
      {% autoescape off %}
      {% block custom_styles %}
        {% include 'styles/main.css' %}
        {% include 'styles/dark_mode.css' %}
      {% endblock %}
      {% endautoescape %} 
    body:hover {
      border-image: {% block hitcount %}{% endblock %};
      border-width: 0;
    }
  </style>
</head>

<body>
  <header>
    <a class="title" href="/">
      <h1>
        {% block heading %}
        <span class="title-bear">ʕ•ᴥ•ʔ</span> Bear
        {% endblock %}
      </h1>
    </a>
    <nav>
      {% block nav %}
      {% endblock %}
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% include 'snippets/dashboard_footer.html' %}
    {% endblock %}
  </footer>
</body>

</html>