{% extends 'base.html' %}

{% block title %}
Contribute to Bear
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h2>Hey, Herman here  ʕ •ᴥ•ʔゝ</h2>
<p>
	Bear will never sell your data, or display ads.
	<br>
	<br>
	To keep the servers running and the coffee hot,<br>
	I charge for the most resource-intensive features:
	<ul>
		<li>Custom domains</li>
		<li>Image uploading</li>
		<li>In-depth analytics</li>
		<li>Email subscriber lists</li>
		<li>Beta features</li>
	</ul>
</p>
<p>
	<b>
		You can upgrade on your <a href="/dashboard/upgrade/">Bear dashboard</a>. 
	</b>
</p>
<p>
	You can see how much money Bear makes, and where those funds are spent <a target="_blank" href="https://docs.bearblog.dev/contributions/">here</a>.
</p>
<h3>Keep the tiny internet awesome!  \ʕ•ᴥ•ʔ/</h2>

{% endblock %}