{% extends 'base.html' %}

{% block title %}
Contribute to Bear
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h2>Help Bear keep the Internet awesome!</h2>
<h4>Hi, I'm Herman</h4>
<p>
    I am the creator and maintainer of <a href="/">ʕ•ᴥ•ʔ Bear</a>.
    This project started out as a personal blog, and turned into a minimal blogging platform
    for the masses (we currently have more than 3,000 blogs running on Bear with more signing up every day).
</p>
<p>
    It has gotten to the point where I need to open up the conversation around how this project
    monetises due to the cost of hosting and maintenance.
</p>
<p>
    Most “free” websites subsist by selling ads or selling user data.
    Others do it by putting all the good stuff behind paywalls.
</p>

<h4>Firstly, a few things that won't change:</h4>
<ul>
    <li>All the existing features of Bear will remain free of charge, forever.</li>
    <li>Bear will never sell your data.</li>
    <li>Bear will never have ads.</li>
</ul>
<p>
    My preference would be for all new features under development and into the future to be free for everyone.
    This can only happen if I manage to build up a donation base.
    <b>My goal is to hit $500 per week.</b>
    This will cover the cost of servers in their entirety as well as some change to spend on coffee
    while I build out these new features. 
</p>

<h4>Here's what I have planned in the near-to-mid future:</h4>
<ul>
    <li>Newsletter subscriptions (you can see this running on my <a href="https://herman.bearblog.dev">personal blog</a> right now)</li>
    <li>Notifications of new posts to subscribers</li>
    <li>Send emails to subscribers from your dashboard <small>(tbd, this has the potential to be abused)</small></li>
    <li>API support</li>
    <li>Email-to-post</li>
    <li>LaTeX support</li>
    <li>etc</li>
</ul>
<p>
    As an incentive to support the project, I will be making these new features only available
    to sponsors contributing $5 per month or more until the funding goal has been reached, in which case I will make all the features publicly available.
</p>
<h4>Bear receives $13 per month from 2 patron. Goal $2000 per month.</h4>
<h4><a target="_blank" href="https://www.paypal.com/donate?hosted_button_id=FAZ5LMBRHDDKY">Contribute now</a>
<h4>Let's make the internet awesome ＼ʕ •ᴥ•ʔ／</h4>
{% endblock %}