{% extends 'base.html' %}

{% block seo %}
{% include 'snippets/seo_tags.html' with title='ʕ•ᴥ•ʔ Bear Blog' url='https://bearblog.dev' description='Free, no-nonsense, super-fast blogging.' tags="blog, blogging, write, writing" %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h1>
    Discovery feed
</h1>
<nav>
    <a href="/discover/">Trending</a>
    <a href="/discover/?newest=true">Newest</a>
</nav>
<content>
    <ul style="list-style-type: none;padding: unset;">
        {% for post in posts %}
        <li>
            #{{ forloop.counter|add:posts_from }}
            <form action="" method="post" style="display: inline">
                <input hidden name="pk" value="{{ post.pk }}" />
                {% csrf_token %}
                <button>▵</button>
            </form>
            <a
                href="http://{{ post.blog.subdomain }}.bearblog.dev/{{ post.slug }}"
                target="_blank"
            >{{ post.title }}</a>
            <small>
                <small>- {{ post.upvote_count }} upvotes</small>
            </small>
        </li>
        {% empty %}
        <li>
            We've run out of posts ʕノ•ᴥ•ʔノ ︵ ┻━┻
        </li>
        {% endfor %}
    </ul>
</content>
<p>
    <a href="?page={{ next_page }}{% if newest %}&newest=true{% endif %}">More</a>
</p>
<p>
    <small>
        This page is ranked using the following algorithm:
        <br>
        <small>(Note: Only 1 vote per post per IP address is counted)</small>
        <pre>
            <code>
Score = (U-1) / (T+2)^G

Where,
U = Upvotes of an item (and -1 is to negate submitters vote)
T = Time since submission (in hours)
G = Gravity (currently at {{ gravity }}) to keep page content fresh
            </code>
        </pre>
    </small>
</p>
{% endblock %}

{% block footer %}
<p>
    Start your own blog with <a href="/accounts/signup/">ʕ•ᴥ•ʔ Bear</a>
</p>
{% endblock %}