{% extends 'base.html' %}

{% block title %}{% if newest %}Most recent{% else %}Trending{% endif %} | Bear Blog{% endblock %}

{% block seo %}
<meta name="robots" content="nofollow">
{% include 'snippets/seo_tags.html' with site_name='ʕ•ᴥ•ʔ Bear Blog' type="website" title='Discovery feed' url='https://bearblog.dev/discover' description='Discover articles and blogs on Bear' image="https://bear-images.sfo2.cdn.digitaloceanspaces.com/herman-1683556668-0.png" %}
<link rel="alternate" type="application/atom+xml" href="/feed/{% if newest %}?newest=True{% endif %}">
<link rel="alternate" type="application/rss+xml" href="feed/?type=rss{% if newest %}&newest=True{% endif %}">
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

<h1>
    Discovery feed
</h1>
<nav>
    {% if not newest %}
    <b><a href="/discover/">Trending</a></b>
    <a href="/discover/?newest=true">Most recent</a>
    {% else %}
    <a href="/discover/">Trending</a>
    <b><a href="/discover/?newest=true">Most recent</a></b>
    {% endif %}
    <a href="/discover/search/">Search</a>
</nav>

<p>
    <details style="font-size: small; color: grey;">
        <summary>Language ({% if lang %}{{ lang }}{% else %}No filter{% endif %})</summary>
        <a href="{{ request.path }}" onclick="document.cookie='lang=; path=/;';">None</a>
        {% for language in available_languages %}
            {% if language %}
            <a href="{{ request.path }}" onclick="document.cookie='lang={{ language }}; path=/;';">{{ language }}</a>
            {% endif %}
        {% endfor %}
    </details>
</p>

{% if newest %}
<p>
    <small><i><a target="_blank" href="https://docs.bearblog.dev/review-process/">Not seeing your post?</a></i></small>
</p>
{% endif %}
<ul class="discover-posts">
    {% for post in posts %}
    <li>
        <span>
            #{{ forloop.counter|add:posts_from }}
        </span>
        <div>
            <a href="{{ post.blog.dynamic_useful_domain }}/{{ post.slug }}">
                {{ post.title }}
            </a>
            <small>
                <span>(<a href="{{ post.blog.dynamic_useful_domain }}">{{ post.blog.useful_domain }}</a>)</span>
                <br>
                <small>Published {{ post.published_date|timesince }} ago</small>
                <small>
                    <svg style="height:16px;margin: 0 -8px -4px 0;" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
                    {{ post.upvotes }}
                </small>
                {% if request.user.is_staff %}
                    <details>
                        <summary></summary>
                        <form method="POST" style="display:inline">
                            <input hidden name="hide-post" value="{{ post.pk }}">
                            <button onclick="event.preventDefault();if(confirm('Hide this post?')){event.target.parentElement.submit()}">Hide post</button>
                        </form>
                        <form method="POST" style="display:inline">
                            <input hidden name="hide-blog" value="{{ post.pk }}">
                            <button onclick="event.preventDefault();if(confirm('Hide this blog?')){event.target.parentElement.submit()}">Hide blog</button>
                        </form>

                        <form method="POST" style="display:inline">
                            <input hidden name="block-blog" value="{{ post.pk }}">
                            <button onclick="event.preventDefault();if(confirm('Block this blog?')){event.target.parentElement.submit()}">Block blog</button>
                        </form>

                        <form method="POST" style="display:inline">
                            <span>Shadow votes:</span>
                            <input hidden name="set-votes" value="{{ post.pk }}">
                            <input type="number" name="shadow-votes" value="{{ post.shadow_votes }}" style="width:45px; padding: 0;">
                            <button>Set</button>
                        </form>
                    </details>
                {% endif %}
            </small>
        </div>
    </li>
    {% empty %}
    <li>
        We've run out of posts ʕノ•ᴥ•ʔノ ︵ ┻━┻
    </li>
    {% endfor %}
</ul>

<p>
    {% if previous_page >= 0 %}
    <a href="?page={{ previous_page }}{% if newest %}&newest=true{% endif %}">&laquo; Previous</a> |
    {% endif %}
    {% if posts %}
    <a href="?page={{ next_page }}{% if newest %}&newest=true{% endif %}">Next &raquo;</a>
    {% endif %}
</p>
<p>
    <i>
        Subscribe to the
        {% if newest %}
        <a
            href="feed/?newest=True{% if lang %}&lang={{ lang }}{% endif %}"
            title="https://bearblog.dev/discover/feed/?newest=True{% if lang %}&lang={{ lang }}{% endif %}"
        >RSS feed</a>
        {% else %}
        <a 
            href="feed/{% if lang %}?lang={{ lang }}{% endif %}" 
            title="https://bearblog.dev/discover/feed/{% if lang %}?lang={{ lang }}{% endif %}"
        >RSS feed</a>
        {% endif %}
    </i>
</p>
{% if not newest %}
<p>
    <small>
        <pre class="code">

This page is ranked according to the following algorithm:
Score = log10(U) + (S / D * 86,400)

Where,
U = Upvotes of a post
S = Seconds since Jan 1st, 2020
D = Days modifier (currently at 14)

--
D values is used to modify the effect of time on the score. The higher D, the more time gravity influences post score.
        </pre>
    </small>
</p>
{% endif %}
{% endblock %}

{% block footer %}
<p>
    Start your own blog with <a href="/accounts/signup/"><span class="bear">ʕ•ᴥ•ʔ</span> Bear</a>
</p>
{% endblock %}