{% extends 'base.html' %}

{% block heading %}
{{ blog.title }}
{% endblock %}

{% block custom_styles %}
    {% include 'snippets/styles.html' with blog=blog %}
{% endblock %}

{% block content %}
<h1>Form test on {{ blog.title }}</h1>
<p>{{ message }}</p>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Test text..." name="form-test" style="border:1px dashed; padding: 5px;" value="test"/>
    <br>
    <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block footer %}
Made with <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
{% endblock %}