{% extends 'base.html' %}

{% block seo %}
{% include 'snippets/seo_tags.html' with title='ʕ•ᴥ•ʔ Bear Blog' url='https://bearblog.dev' description='Free, no-nonsense, super-fast blogging.' tags="blog, blogging, write, writing" %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h2 style="font-size: 1.34em">A privacy-first, no-nonsense, super-fast blogging platform</h2>
<h3>No trackers, no javascript, no stylesheets. Just your words.</h3>
<nav>
    {% if  user.is_authenticated %}
    <a href="/dashboard/">Dashboard</a>
    {% else %}
    <a href="/accounts/signup/">Sign up</a>
    {% endif %}
    <a href="/discover/">Discovery feed</a>
</nav>
<p>
    This is a blogging platform where words matter most.
    <br>
    Your readers are protected while your content is delivered at light speed.
</p>
<h4>
    Shun the bloat of the bygone web, embrace the <i>bear</i> necessities.
</h4>
<ul>
    <li>Looks great on <b>any</b> device.</li>
    <li>Tiny (~5kb), optimized, and awesome pages.</li>
    <li>No trackers, ads, or scripts.</li>
    <li>Only 60 seconds to sign up.</li>
    <li>Connect your custom domain for free.</li>
</ul>
<p><a href="https://herman.bearblog.dev" target="_blank">View example blog</a></p>
<h3>
   Publish something awesome with your <i>bear</i> hands <span class="bear"></span>
</h3>

<p>
    <b>
        <a href="/accounts/signup/">Start blogging for free</a>
    </b>
</p>
{% endblock %}