{% extends 'base.html' %}

{% block seo %}
{% include 'snippets/seo_tags.html' with site_name='ʕ•ᴥ•ʔ Bear Blog' type="website" title='ʕ•ᴥ•ʔ Bear Blog' url='https://bearblog.dev' description='Free, no-nonsense, super-fast blogging' image="https://bear-images.sfo2.cdn.digitaloceanspaces.com/herman-1683556668-0.png" %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h2 style="font-size: 1.34em">A privacy-first, no-nonsense, super-fast blogging platform</h2>
<h3>No trackers, no javascript, no stylesheets. Just your words.</h3>
<nav>
    {% if  user.is_authenticated %}
    <a href="/dashboard/">Dashboard</a>
    {% else %}
    <a href="{% url 'signup_flow' %}">Sign up</a>
    {% comment %} <a href="/accounts/signup/">Sign up</a> {% endcomment %}
    <a href="/accounts/login/">Log in</a>
    {% endif %}
    <a href="/discover/">Discover</a>
</nav>
<p>
    This is a blogging platform where words matter most.
    <br>
    Your readers are protected while your content is delivered at light speed.
</p>
<h4>
    Shun the bloat of the current web, embrace the <i>bear</i> necessities.
</h4>
<ul>
    <li>Looks great on <b>any</b> device</li>
    <li>Tiny (~2.7kb), optimized, and awesome pages</li>
    <li>No trackers, ads, or scripts</li>
    <li>Seconds to sign up</li>
    <li>Built to last forever</li>
    <li>Connect your custom domain</li>
    <li>Free themes</li>
    <li>RSS &amp; Atom feeds</li>
</ul>
<p><a href="https://herman.bearblog.dev" target="_blank">View example blog</a></p>
<h3>
   Publish something awesome with your <i>bear</i> hands <span class="bear"></span>
</h3>

{% endblock %}