{% extends 'base.html' %}
{% load pygmentify_tags %}
{% load custom_tags %}

{% block page_type %}{% if post.is_page %}page{% else %}post{% endif %} {{ post.class_name }}{% endblock %}

{% block lang %}{% if post.lang %}{{ post.lang }}{% else %}{{ blog.lang }}{% endif %}{% endblock %}

{% block favicon %}{{ blog.favicon }}{% endblock %}

{% block title %}{{ post.title }} | {{ blog.title }}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ canonical_url }}">{% endblock %}

{% block seo %}
{% if not blog.reviewed %}<meta name="robots" content="noindex, nofollow">{% endif %}

<meta name="{{ blog.subdomain }}" content="look-for-the-bear-necessities">

{% include 'snippets/seo_tags.html' with site_name=blog.title title=post.title type="article" url=full_path description=meta_description image=meta_image meta_tag=blog.meta_tag %}
{% endblock %}

{% block imports %}

{% if blog.upgraded %}
{{ blog.header_directive | safe }}
{% endif %}

{% if blog.fathom_site_id %}<script src="https://cdn.usefathom.com/script.js" data-site="{{ blog.fathom_site_id }}" defer></script>{% endif %}
{% if post.contains_code %}<link rel="stylesheet" href="{% pygmentify_css minify='false' %}">{% endif %}
{% endblock %}

{% block custom_styles %}
{% include 'snippets/styles.html' with blog=blog %}
.upvote-button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upvote-button.upvoted {
    color: salmon;
}
.upvote-count {
    margin-top: -3px;
}
{% if blog.analytics_active and not preview %}
body:hover {
    border-image: url("/hit/{{ post.pk }}/{% if blog.blank_domain not in request.META.HTTP_REFERER %}?ref={{ request.META.HTTP_REFERER }}{% endif %}");
    border-width: 0;
}
{% endif %}
{% endblock %}

{% block heading %}{{ blog.title }}{% endblock %}

{% block nav %}{{ blog.nav | markdown:blog | safe }}{% endblock %}

{% block content %}
{% if preview %}
<p style="width:100%;padding:10px;background-color:lightsalmon;color:white;display:flex;justify-content:space-between;line-height:15px;">
    PREVIEW
        {% if error_message %}<span>{{ error_message }}</span>{% endif %}
    <small>
        Close and re-open to refresh
    </small>
</p>
{% else %}
{% if request.user == blog.user and not preview %}
<a href="/dashboard/posts/{{ post.pk }}/" target="_blank" style="position: fixed;right: 0;top: 0;padding: 20px;color: lightgrey;text-decoration: none;font-size: 25px;">✎</a>
{% endif %}
{% endif %}

{% if not post.is_page %}
<h1>
    {{ post.title }}
</h1>

<p>
    <i>
        <time datetime="{{ post.published_date|date:'Y-m-d' }}">
            {% format_date post.published_date blog.date_format blog.lang %}
        </time>
    </i>
</p>
{% endif %}
{% pygmentify %}
    {{ content | markdown:blog | safe }}
{% endpygmentify %}
{% if canonical_url != full_path %}
<p>
    <small>
        <a href="{{ canonical_url }}">View original</a>
    </small>
</p>
{% endif %}

{% if not preview %}
    {% if post.get_tags|length > 0 %}
    <p class="tags">
        {% for tag in post.get_tags %}
        <a href="/blog/?q={{tag}}">#{{ tag }}</a>
        {% endfor %}
    </p>
    {% endif %}

    {% if post.make_discoverable %}
    {% include 'snippets/upvote_form.html' with post=post upvoted=upvoted %}
    {% endif %}
{% endif %}

{% endblock %}


{% block footer %}
{% if blog.upgraded and blog.footer_directive %}
<span id="footer-directive">
{{ blog.footer_directive | markdown:blog | safe }}
</span>
{% endif %}
<span>
    Made with <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
</span>
{% endblock %}