{% extends 'base.html' %}

{% block title %}
Blog |
{{ blog.title }}
{% endblock %}

{% block heading %}
{{ blog.title }}
{% endblock %}

{% block seo %}
{% include 'snippets/seo_tags.html' with title=blog.title url=root description=blog.content tags="blog, blogging, write, writing" %}
{% endblock %}

{% block nav %}
<a href="/">Home</a>
{% for item in nav %}
<a href="/{{ item.slug }}/">{{ item.title }}</a>
{% endfor %}
<a href="/blog/">Blog</a>
{% endblock %}

{% block content %}
<style>
    ul {
        list-style-type: none;
        padding: unset;
    }

    li {
        display: flex;
    }

    li span {
        flex: 0 0 130px;
    }
</style>
<content>
    {% if query %}
    <h3 style="margin-bottom:0">Filtering for "{{ query }}"</h3>
    <small>
    <a href="/blog/">Remove filter</a>
    </small>
    {% endif %}
    <ul>
        {% for post in posts %}
        <li>
            <span>
                <i>
                    <time datetime="{{ post.published_date|date:'Y-m-d' }}" pubdate>
                        {{ post.published_date|date:'d M, Y' }}
                    </time>
                </i>
            </span>
            <a href="/{{ post.slug }}/">{{ post.title }}</a>
        </li>
        {% empty %}
        <li>
            No posts yet
        </li>
        {% endfor %}
    </ul>
    <small>
        <div>
            {% for tag in hashtags %}
                <a href="/blog/?q=%23{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </div>
    </small>
</content>

{% endblock %}

{% block footer %}
Made with <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
{% endblock %}