{% extends 'base.html'%}
{% load custom_tags %}

{% block page_type %}blog{% endblock %}

{% block lang %}{{ blog.lang }}{% endblock %}

{% block favicon %}{% include 'snippets/favicon.html' with blog=blog %}{% endblock %}

{% block title %}Blog | {{ blog.title }}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ blog.useful_domain }}/blog/">{% endblock %}

{% block seo %}
{% if not blog.reviewed %}<meta name="robots" content="noindex, nofollow">{% endif %}

<meta name="{{ blog.subdomain }}" content="look-for-the-bear-necessities">

{% include 'snippets/seo_tags.html' with site_name=blog.title title="Blog" type="website" url=blog.useful_domain description=blog.meta_description image=blog.meta_image meta_tag=blog.meta_tag %}
<link rel="alternate" type="application/atom+xml" href="/feed/{% if query %}?q={{ query }}{% endif %}">
<link rel="alternate" type="application/rss+xml" href="/feed/?type=rss{% if query %}&q={{ query }}{% endif %}">
{% endblock %}

{% block imports %}

{% if blog.user.settings.upgraded %}{{ blog.header_directive | safe }}{% endif %}

{% if blog.fathom_site_id %}<script src="https://cdn.usefathom.com/script.js" data-site="{{ blog.fathom_site_id }}" defer></script>{% endif %}
{% endblock %}

{% block custom_styles %}{% include 'snippets/styles.html' with blog=blog %}{% endblock %}

{% block heading %}{{ blog.title }}{% endblock %}

{% block nav %}{{ blog.nav | markdown:blog | safe }}{% endblock %}

{% block content %}

{% if active_tags %}
<h3 style="margin-bottom:0">Filtering for: 
    {% for tag in active_tags %}
    <span class="tag">
        #{{ tag }}
        {% with remaining_tags=active_tags|remove_tag:tag %}
        <a href="{% if remaining_tags %}/blog/?q={{ remaining_tags|join:',' }}{% else %}/blog/{% endif %}" title="Remove tag" style="text-decoration:none;">✕</a>
        {% endwith %}
    </span>
    {% endfor %}
</h3>
<small>
    <a href="/blog/">Remove all filters</a>
</small>
{% endif %}

{% include "snippets/post_list.html" %}


<small>
    <div class="tags">
        {% for tag in blog.tags %}
            {% if tag not in active_tags and tag in available_tags %}
                <a href="/blog/?q={% if active_tags %}{{ active_tags|join:',' }},{% endif %}{{ tag }}">#{{ tag }}</a>
            {% endif %}
        {% endfor %}
    </div>
</small>


{% endblock %}

{% block footer %}
{% if blog.user.settings.upgraded and blog.footer_directive %}
<span id="footer-directive">
{{ blog.footer_directive | markdown:blog | safe }}
</span>
{% endif %}
<span>
    Powered by <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
</span>
{% endblock %}