{% extends 'base.html' %}
{% load markdownify %}

{% block favicon %}
{{ blog.favicon }}
{% endblock %}

{% block title %}
{{ blog.title }}
{% endblock %}


{% block seo %}
<meta name="robots" content="noindex">
{% endblock %}


{% block custom_styles %}
    {% include 'snippets/styles.html' with blog=blog %}
{% endblock %}

{% block heading %}
{{ blog.title }}
{% endblock %}

{% block nav %}
<p style="position:fixed; top: -20px; background-color: wheat; padding: 10px">
<a href="approve/{{ blog.pk }}">Approve</a>|
<a href="block/{{ blog.pk }}">Block</a> - {{ still_to_go }} blog(s) still to go
</p>
{% endblock %}

{% block content %}
<a href="{{ root }}" target="_blank">{{ root }}</a>
<br>
<a href="mailto:{{ blog.user.email }}">{{ blog.user.email }}</a>
<p><b>Created {{ blog.created_date | timesince }} ago</b></p>
<content>
    {{ content | markdown | safe }}
</content>

<ul>
    {% for post in posts %}
    <li>
        #{{ forloop.counter }}
        <i>
            <time datetime="{{ post.published_date|date:'Y-m-d' }}" pubdate>
                - {{ post.published_date|date:'d M, Y' }}
            </time>
        </i>
        <h3><a href="{{ root }}/{{ post.slug }}/" target="_blank">{{ post.title }}</a></h3>
        <p>
            {{ post.content | markdown | safe }}
        </p>
    </li>
    {% endfor %}
</ul>


{% if posts.empty %}
<p>
    No posts yet
</p>
{% endif %}

{% endblock %}

{% block footer %}
Made with <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
{% endblock %}