{% extends 'base.html' %}
{% load markdownify %}

{% block favicon %}
{{ blog.favicon }}
{% endblock %}

{% block title %}
{{ blog.title }}
{% endblock %}


{% block seo %}
<meta name="robots" content="noindex">
{% endblock %}


{% block custom_styles %}
    {% include 'snippets/styles.html' with blog=blog %}
{% endblock %}

{% block heading %}
<br>
{{ blog.title }}
{% endblock %}

{% block nav %}
<div style="position:fixed; bottom: 0px; background-color: wheat; padding: 20px 10px 10px">
    <form method="post" action="approve/{{ blog.pk }}"> 
        {% csrf_token %}
        <textarea name="message" style="width:400px; height: 120px">
Hey, I've just reviewed your blog. It looks good and has been approved.
If you're keen you can upgrade your blog and support the project <a href="https://bearblog.dev/dashboard/upgrade/">here</a>.
Have a great week!
Herman
        </textarea>
        <br>
        <input type="submit" value="Approve" /> |
        <small>
            <a href="approve/{{ blog.pk }}?no-email=True">Approve (no email)</a>|
            <a href="block/{{ blog.pk }}">Block</a>|
            <a href="delete/{{ blog.pk }}">Delete</a>
        </small>
    </form>
    <br>
    {{ still_to_go }} blog(s) still to go
</div>
{% endblock %}

{% block content %}
<a href="{{ root }}" target="_blank">{{ root }}</a>
<br>
<a href="mailto:{{ blog.user.email }}">{{ blog.user.email }}</a>
<p><b>Created {{ blog.created_date | timesince }} ago</b></p>
<content>
    {{ blog.nav | markdown | safe }}
    {{ content | markdown | safe }}
</content>

<ul style="padding-bottom: 200px">
    {% for post in posts %}
    <li>
        #{{ forloop.counter }}
        <i>
            <time datetime="{{ post.published_date|date:'Y-m-d' }}" pubdate>
                - {{ post.published_date|date:'d M, Y' }}
            </time>
        </i>
        <h3><a href="{{ root }}/{{ post.slug }}/" target="_blank">{{ post.title }}</a></h3>
        <p>
            {{ post.content | markdown | safe }}
        </p>
    </li>
    {% endfor %}
</ul>


{% if posts.empty %}
<p>
    No posts yet
</p>
{% endif %}

{% endblock %}

{% block footer %}
Made with <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
{% endblock %}