{% extends 'base.html' %}
{% load markdownify %}

{% block title %}Search | Bear Blog{% endblock %}

{% block seo %}
<meta name="robots" content="nofollow">
{% include 'snippets/seo_tags.html' with site_name='ʕ•ᴥ•ʔ Bear Blog' type="website" title='Search Results' url='https://bearblog.dev/search' description='Search results on Bear Blog' image="https://i.imgur.com/b499n4R.png" %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<content>
    <h1>
        Search
    </h1>
    <nav>
        <a href="/discover/">Trending</a>
        <a href="/discover/?newest=true">Most recent</a>
        <b><a href="/search/">Search</a></b>
        
    </nav>
    <p>
        <form method="GET">
            <input type="text" name="query" placeholder="Search..." value="{{ search_string }}"/>
            <input type="submit"/>
        </form>
    </p>
    <ul class="discover-posts">
        {% for post in posts %}
        <li>
            <div>
                <a href="{{ post.blog.dynamic_domain }}/{{ post.slug }}">
                    {{ post.title }}
                </a>
                <small>
                    <span>(<a href="{{ post.blog.dynamic_domain }}">{{ post.blog.useful_domain }}</a>)</span>
                    <br>
                    <small>Published {{ post.published_date|timesince }} ago</small>
                    -
                    <small><b>{{ post.upvote_count }} toast{{ post.upvote_count|pluralize }}</b></small>
                    <br>
                    <p>
                        {{ post.content|unmark }}
                    </p>
                </small>
            </div>

        </li>
        {% empty %}
        <li>
            ┬┴┬┴┤•ᴥ•ʔ├┬┴┬┴
        </li>
        {% endfor %}
    </ul>
</content>

{% endblock %}

{% block footer %}
<p>
    Start your own blog with <a href="/accounts/signup/">ʕ•ᴥ•ʔ Bear</a>
</p>
{% endblock %}