{% extends 'base.html' %}
{% load custom_tags %}

{% block page_type %}subscribe{% endblock %}

{% block favicon %}{% include 'snippets/favicon.html' with blog=blog %}{% endblock %}

{% block title %}Subscribe | {{ blog.title }}{% endblock %}

 {% block canonical %}<link rel="canonical" href="{{ blog.useful_domain }}/subscribe/">{% endblock %}

 {% block imports %}
{% if blog.fathom_site_id %}<script src="https://cdn.usefathom.com/script.js" data-site="{{ blog.fathom_site_id }}" defer></script>{% endif %}
{% endblock %}

{% block custom_styles %}{% include 'snippets/styles.html' with blog=blog %}{% endblock %}

{% block heading %}{{ blog.title }}{% endblock %}

{% block nav %}{{ blog.nav | markdown:blog | safe }}{% endblock %}

{% block content %}
{% if blog.user.settings.upgraded and not subscribe_message %}
<p>
    <b>Subscribe to this blog</b>
</p>
{% include './snippets/email_subscribe_form.html' %}
{% endif %}

{% if subscribe_message %}
<p><i>{{ subscribe_message }}</i></p>
{% endif %}
{% endblock %}

{% block footer %}
{% if blog.user.settings.upgraded and blog.footer_directive %}
<span id="footer-directive">
{{ blog.footer_directive | markdown:blog | safe }}
</span>
{% endif %}
<span>
    Powered by <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
</span>
{% endblock %}