{% extends 'base.html' %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Account</h1>
    <p>
        Your account is in order. If you have any requests, please email
        <a href="mailto:hi@bearblog.dev">hi@bearblog.dev</a>
    </p>
    <p>
        <a href="{% url 'user_delete' %}">Delete account</a>
    </p>
    <hr>
    <p style="text-align: center">
        <b>
        If you're enjoying using Bear, please consider sponsoring the project. 
        </b>
    </p>
    <p>
        <div id="paypal-button-container" style="width: 200px; margin: 0 auto;"></div>
        <script src="https://www.paypal.com/sdk/js?client-id=AbRjN4qNt-N00y6d7UmpqqeLL2Cy8S5XXOQaWsgT6kbgf38oDuQmrkFScnusGXwi9s6-Z6Xq31b3laXR&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
        <script>
            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'silver',
                    layout: 'vertical',
                    label: 'paypal'
                },
                createSubscription: function(data, actions) {
                    return actions.subscription.create({
                        'plan_id': 'P-5MR1645184984743LL6WDVSQ'
                    });
                },
                onApprove: function(data, actions) {
                    alert(data.subscriptionID);
                }
            }).render('#paypal-button-container');
        </script>
    </p>
</content>
{% endblock %}