{% extends 'base.html' %}

{% block title %}
    Analytics | Bear Blog
{% endblock %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Analytics (7 days)</h1>
    
    <p>
        <b>Unique reads:</b> {{ unique_reads.hit_count__sum }}
        <br>
        <b>Unique visitors:</b> {{ unique_visitors }}
    </p>
    {{ chart|safe  }}
    <h3>Need more in-depth analytics?</h3>
    <p>
        <a href="/dashboard/upgrade/">Upgrade</a> to get access to in-depth, long-term analytics (<a href="https://herman.bearblog.dev/public-analytics/" target="_blank">example</a>).
    </p>
   
    {% comment %} <p>
        <a href="/dashboard/upgrade/">Upgrade</a> to get access to in-depth analytics.
        For more in-depth analytics sign up for
        <a href="https://usefathom.com/ref/GMAGWL" title="Fathom Analytics" target="_blank">
            Fathom Analytics
        </a>
        who are comitted to simple, fast and privacy-focused analytics.
    </p>
    <p>
        Check out the 
        <a href="https://herman.bearblog.dev/public-analytics/" target="_blank">example analytics</a>.
    </p>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form> {% endcomment %}
</content>
{% endblock %}