{% extends 'base.html' %}

{% block title %}
    Dashboard | Bear Blog
{% endblock %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Home page</h1>

    <p>
        <input type="text" value="required" required style="width: 70px; font-size: 10px;" readonly/>
        <input type="text" value="optional" style="width: 70px; font-size: 10px;" readonly/>
    </p>

    <form method="POST" class="post-form full-width">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    {% if blog %}
    <p>
        View site: <a href="{{ root }}" target="_blank">{{ root }}</a>
        <br>
        RSS feed: <a href="{{ root }}/feed/" target="_blank">{{ root }}/feed/</a>
    </p>
    {% endif %}
</content>
<script>
    document.querySelector('#toggle-full-screen').onclick = event => {
        event.preventDefault()
        document.querySelector('textarea').classList.toggle('full-screen')
        event.target.classList.toggle('floating')
    }
</script>
{% endblock %}