{% extends 'base.html' %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Home page</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    {% if blog %}
    <p>
        <a href="http://{{ root }}" target="_blank">View site</a> |
        <a href="{% url 'user_delete' %}">Delete account</a>
    </p>
    {% endif %}
</content>
{% endblock %}