{% extends 'base.html' %}

{% block title %}Dashboard | Bear Blog{% endblock %}

{% block nav %}{% include '../snippets/dashboard_nav.html' %}{% endblock %}

{% block content %}
<content>

    {% if not blog.upgraded %}
    <p style="background-color: rgb(0,0,0,1); text-align:center; padding: 5px">
        <i>
            <a href="/dashboard/upgrade/">Upgrade</a> to get neat stuff and support the Tiny Internet!
        </i>
    </p>
    {% endif %}

    <h1>Dashboard</h1>

    <form method="POST" class="post-form full-width">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    {% if blog %}
    <p>
        View site: <a href="{{ root }}" target="_blank">{{ root }}</a>
        <br>
        RSS feed: <a href="{{ root }}/feed/" target="_blank">{{ root }}/feed/</a>
    </p>
    {% endif %}
</content>

{% include '../snippets/editor_functions.html' with blog=blog%}
{% endblock %}