{% extends 'base.html' %}

{% block referrer %}
<meta name="referrer" content="no-referrer">
{% endblock %}

{% block title %}
    Domain | Bear Blog
{% endblock %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Custom domain</h1>
    {% if not blog.upgraded and not blog.domain %}
    {% include '../snippets/upgrade.html' %}
    {% else %}

    <h4>Set the following DNS record</h4>
        <table>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Content</th>
                <th>TTL</th>
            </tr>
            <tr>
                <td>CNAME</td>
                <td><small>{your domain or subdomain}</small></td>
                <td><small>domain-proxy.bearblog.dev</small></td>
                <td>3600</td>
            </tr>
        </table>
        <p>
            <small>
                It may take some time for the DNS records to propagate. <b>If you're using Cloudflare turn off the proxy (the little orange cloud).</b>
            </small>
        </p>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        <p>
            Having issues? More info
            <a href="https://docs.bearblog.dev/custom-domains" target="_blank">here</a>.
        </p>
        <p>
            View site: <a href="{{ root }}" target="_blank">{{ root }}</a>
        </p>
    {% endif %}
</content>
{% endblock %}