{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Media | Bear Blog{% endblock %}
{% block custom_styles %}
{% include 'styles/blog/default.css' %}
{% include 'styles/dashboard.css' %}
{{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block content %}
<h1>Media</h1>

<button id="uploadMedia" style="margin-bottom: 10px;">Upload media</button>
<button id="deleteSelected" style="margin-bottom: 10px;">Delete selected</button>
<br>
<small>
    <input type="checkbox" id="raw" name="raw" style="margin:0">
    <label for="raw" style="font-weight: normal">Upload raw</label>
</small>

<p style="color:lightsalmon">
    <span id="loading">Uploading</span>
    {% for error_message in error_messages %}
        {{ error_message }}<br>
    {% endfor %}
</p>

<input id="fileSelect" type="file" name="file" multiple required style="display: none" accept="{{ accepted_file_types }}">

<form id="deleteForm" method="post" action="{% url 'delete_selected_media' id=blog.subdomain %}">
    {% csrf_token %}
    <ul style="padding: 0; list-style: none;">
        {% for document in documents %}
        <li>
            <input type="checkbox" name="selected_media" value="{{ document.url }}">
            <small>{{ document.created_at|date:'d M, Y' }}</small>
            <a href="{{ document.url }}" target="_blank">{{ document.name }}</a>
            <button type="button" onclick="navigator.clipboard.writeText('{{ document.url }}').then(() => alert('URL copied to clipboard'));">Copy URL</button>
        </li>
        {% endfor %}
    </ul>
    <div class="media-container">
    {% for image in images %}
        <div class="media-item">
            <input type="checkbox" name="selected_media" value="{{ image.url }}" class="media-checkbox">
            <a href="{{ image.url }}" target="_blank">
                <img style="object-fit: contain;" 
                     src="{{ image.url }}" 
                     width=190 
                     height=190 
                     loading="lazy"
                     title="Still uploading..."
                     onerror="handleImageError(this)"
                     onload="this.title=''"/>
            </a>
            <br>
            <small>{{ image.created_at|date:'d M, Y'}}</small>
            <br>
            <button type="button" onclick="navigator.clipboard.writeText('{{ image.url }}').then(() => alert('URL copied to clipboard'));">Copy URL</button>
        </div>
    {% endfor %}
    </div>
</form>

<style>
    #loading {
        display: none;
    }

    #loading::after {
      display: inline-block;
      animation: dotty steps(1,end) 1s infinite;
      content: '';
    }
    
    @keyframes dotty {
        0%   { content: ''; }
        25%  { content: '.'; }
        50%  { content: '..'; }
        75%  { content: '...'; }
        100% { content: ''; }
    }
</style>

<script>
const $fileInput = document.getElementById("fileSelect");
const $uploadButton = document.getElementById('uploadMedia');
const $deleteButton = document.getElementById('deleteSelected');
const $loadingDotty = document.getElementById('loading');
const $rawCheckbox = document.getElementById('raw');

$uploadButton.addEventListener('click', function() {
    $fileInput.click();
});

function upload() {
    const files = $fileInput.files;

    if (!files.length) return;

    $uploadButton.disabled = true;
    $deleteButton.disabled = true;
    $loadingDotty.style.display = 'inline-block';

    uploadNextFile(0, files);
}

function uploadNextFile(index, files) {
    $loadingDotty.innerText = `Uploading ${index + 1} of ${files.length}`
    const file = files[index];
    console.log(file.name)
    if (file.size > 10000000) {
        alert(`File ${file.name} over the 10mb limit. Consider resizing it or uploading it elsewhere.`);
        if (index < files.length - 1) {
            uploadNextFile(index + 1, files);
        } else {
            location.reload()
        }
        return;
    }

    const formData = new FormData();
    formData.append("file", file);
    formData.append("raw", $rawCheckbox.checked);

    const target = "{% url 'upload_image' id=blog.subdomain %}";

    const xhr = new XMLHttpRequest();
    const eventSource = xhr.upload || xhr;

    xhr.open("POST", target, true);
    xhr.send(formData);

    xhr.onload = function() {
        if (this.status === 200) {
            console.log('uploaded')
        }
        else {
            console.log('failed')
        }

        if (index < files.length - 1) {
            uploadNextFile(index + 1, files);
        } else {
            location.reload()
        }
    }
}

document.getElementById('fileSelect').addEventListener('change', function() {
    if (this.files.length > 0) {
        upload()
    }
});

$deleteButton.addEventListener('click', function() {
    var selected = document.querySelectorAll('input[name="selected_media"]:checked');
    if (selected.length > 0) {
        if (confirm(`Are you sure you want to permenantly delete the selected media (${selected.length})? This will break the link if in use somewhere.`)) {
            document.getElementById('deleteForm').submit();
        }
    } else {
        alert('No media selected');
    }
});

function handleImageError(img) {
    if (img.title === "Still uploading...") {
        setTimeout(() => {
            img.src = img.src + '?' + new Date().getTime();
        }, 2000); // Retry after 2 seconds
    }
}
</script>

{{ request.user.settings.dashboard_footer | safe }}

{% endblock %}
