{% extends 'base.html' %}

{% block title %}
    Nav | Bear Blog
{% endblock %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Navigation</h1>
    
    <form method="POST" class="post-form full-width">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update nav</button>
    </form>
    <h3>Default links:</h3>
    <table>
        <tr>
            <th>Label</th>
            <th>Link</th>
            <th>Markdown</th>
        <tr>
        <tr>
            <td>Home</td>
            <td>/</td>
            <td>[Home](/)</td>
        <tr>
        <tr>
            <td>Blog</td>
            <td>/blog/</td>
            <td>[Blog](/blog/)</td>
        <tr>
        <tr>
            <td>RSS</td>
            <td>/feed/</td>
            <td>[RSS](/feed/)</td>
        <tr>
    </table>
    <p>
        View site: <a href="{{ root }}" target="_blank">{{ root }}</a>
    </p>
</content>
{% endblock %}