{% extends 'base.html' %}

{% block title %}Opt-in review | Bear Blog{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block nav %}{% include '../snippets/dashboard_nav.html' %}{% endblock %}

{% block content %}
<h1>Opt-in review</h1>
{% if blog.reviewed %}
<p>Your blog has already been reviewed. \ʕ•ᴥ•ʔ/</p>
{% elif blog.to_review %}
<p>Your blog is under review. Blogs are reviewed about twice a week. <a href="{% url 'upgrade' %}">Upgrade</a> to get approved immediately.
{% else %}
<p>
    Hi, Herman here  ʕ •ᴥ•ʔゝ
    <br><br>
    Since the rise of ChatGPT Bear has been fighting
    <a href="https://herman.bearblog.dev/the-chatgpt-vs-bear-blog-spam-war/" target="_blank">a war on spam</a>.
    This manual review step is to keep spam off Bear while ensuring it remains free-to-use. 
    <br><br>
    I review new blogs about twice a week. If you'd like to skip the wait and get approved immediately you can
    <a href="{% url 'upgrade' %}">upgrade</a>. This comes with a bunch of other neat features too.
    <br><br>
    By submitting the form below you are opting into a human review of your blog (by yours truly).
</p>
<form method="POST" class="post-form full-width">{% csrf_token %}
    <p>
        <input type="checkbox" required name="spam">
        <label for="spam"><small>I confirm that this blog is not being used for backlink spam</small></label>
    </p>
    <textarea name="note" placeholder="(optional) Say hi!"></textarea>
    <button type="submit" class="save btn btn-default">Submit</button>
</form>
{% endif %}
{% endblock %}