{% extends 'base.html' %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Posts</h1>
    <a href="/dashboard/posts/new">New post</a>
    <ul class="post-list">
        {% for post in posts %}
        <li>
            <span>
                <i>
                    <time datetime="{{ post.published_date|date:'Y-m-d' }}" pubdate>
                        {{ post.published_date|date:'d M, Y' }}
                    </time>
                </i>
            </span>
            <a href="/dashboard/posts/{{ post.pk }}">
                {% if post.is_page %}
                    [Page]
                {% endif %}
                {{ post.title }}
            </a>
            {% if not post.publish %}
                <small>(not published)</small>
            {% endif %}
        </li>
        {% empty %}
        <li>
            No posts yet
        </li>
        {% endfor %}
    </ul>
</content>
{% endblock %}