{% extends 'base.html' %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>Analytics for {{ post.title }}</h1>
    <p>
        <small>
        <a href="?days=1">Past 24 hours</a> |
        <a href="?days=7">Past 7 days</a> |
        <a href="?days=30">Past 30 days</a> |
        <a href="?days=180">Past 6 months</a> |
        <a href="?days=365">Past year</a> |
        <a href="?days={{ since_started }}">All time</a> |
        <a href="#date-range">Custom range</a>
        </small>
    </p>
    <p >
        <form type="get" id="date-range">
            <label for="date_from">From:</label>
            <input type="date" name="date_from" value='{{ date_from|date:"Y-m-d" }}' required/>
            <label for="date_to">To:</label>
            <input type="date" name="date_to" value='{{ date_to|date:"Y-m-d" }}' required/>
            <br>
            <input type="submit" value="Go" />
            <a href="#">Close</a>
        </form>
    </p>
    
    <hr>

    {% if time_threshold %}
        <h2>Viewing results for the past {{ time_threshold|timesince }}</h2>
    {% else %}
        <h2>Viewing from <i>{{ date_from|date:"d M Y" }}</i> to <i>{{ date_to|date:"d M Y" }}</i></h2>
    {% endif %}

    <h3>Unique reads: {{ post.hit_count }}</h3>

    {{ chart|safe  }}
</content>
{% endblock %}