{% extends 'base.html' %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>
        {% if post %}
        Edit post
        {% else %}
        New post
        {% endif %}
    </h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {% if post %}
    <p>
        {% if post.publish == True %}
        <a href="{{ root }}/{{ post.slug }}" target="_blank">View post</a> |
        {% elif post %}
        <a href="{{ root }}/{{ post.slug }}?preview=true" target="_blank">Preview post</a> |
        {% endif %}
        <a href="/dashboard/posts/{{ post.pk }}/delete">Delete post</a>
    </p>
    {% if not blog.reviewed %}
    <p>
        <i>
            <b>Your blog is currently in review.</b>
            <br>
            Your posts can only appear in the discover feed once your blog has been approved. 
            <br>
            Sorry about this, we're just trying keep Bear spam free. 
        </i>
    </p>
    {% endif %}
</content>
{% endif %}

{% endblock %}