{% extends 'base.html' %}

{% block nav %}
<a href="/dashboard">Dashboard</a>
<a href="/dashboard/posts">Posts</a>
<a href="/dashboard/domain">Custom domain</a>
<a href="https://github.com/HermanMartinus/bearblog/wiki" target="_blank">Docs</a>
<a href="/accounts/logout">Sign out</a>
{% endblock %}

{% block content %}
<style>
    ul {
        list-style-type: none;
        padding: unset;
    }

    li {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px dashed;
    }

    li span {
        flex: 0 0 130px;
    }
    li a {
        flex: max-content;
    }
    li small {
        text-align: right;
        flex: 0 0 115px;
    }
</style>
<content>
    <h1>Posts</h1>
    <a href="/dashboard/posts/new">New post</a>
    <ul>
        {% for post in posts %}
        <li>
            <span>
                <i>
                    <time datetime="{{ post.published_date|date:'Y-m-d' }}" pubdate>
                        {{ post.published_date|date:'d M, Y' }}
                    </time>
                </i>
            </span>
            {% if not post.publish %}
            (not published)
            {% endif %}
            <a href="/dashboard/posts/{{ post.pk }}">{{ post.title }}</a>
            {% if blog.upgraded %}
            <small>({{ post.hit_count }} reads)</small>
            {% endif %}
        </li>
        {% empty %}
        <li>
            No posts yet
        </li>
        {% endfor %}
    </ul>
</content>
{% endblock %}