
{% extends 'base.html' %}

{% block nav %}
<a href="/dashboard">Dashboard</a>
<a href="/dashboard/posts">Posts</a>
<a href="/dashboard/domain">Custom domain</a>
<a href="https://github.com/HermanMartinus/bearblog/wiki" target="_blank">Docs</a>
<a href="/accounts/logout">Sign out</a>
{% endblock %}

{% block content %}
<h1>
    {% if post %}
    Edit post
    {% else %}
    New post
    {% endif %}
</h1>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% if post %}
<p>
    {% if post.publish == True %}
    <a href="{{ root }}/{{ post.slug }}" target="_blank">View post</a> |
    {% elif post %}
    <a href="{{ root }}/{{ post.slug }}?preview=true" target="_blank">Preview post</a> |
    {% endif %}
    <a href="/dashboard/posts/{{ post.pk }}/delete">Delete post</a>
</p>
{% endif %}
{% endblock %}
