{% extends 'base.html' %}

{% block title %}
    {% if post %}
        Editing {{ post.title }} | Bear Blog
    {% else %}
        New post | Bear Blog
    {% endif %}
{% endblock %}

{% block nav %}
{% include '../snippets/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<content>
    <h1>
        {% if post %}
        Edit post
        {% else %}
        New post
        {% endif %}
    </h1>
    <p>
        <input type="text" value="required" required style="width: 70px; font-size: 10px;" readonly/>
        <input type="text" value="optional" style="width: 70px; font-size: 10px;" readonly/>
    </p>
    <form method="POST" class="post-form full-width">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" onclick="document.getElementById('id_publish').value = true;">Publish</button>
        <button type="submit" onclick="document.getElementById('id_publish').value = false;">
            {% if post.publish %}
            Unpublish
            {% else %}
            Save as draft
            {% endif %}
        </button>
    </form>
    {% if post %}
        <p>
            {% if post.publish == True %}
                <a href="{{ root }}/{{ post.slug }}" target="_blank">View post</a> |
            {% elif post %}
                <a href="{{ root }}/{{ post.slug }}?preview=true" target="_blank">Preview post</a> |
            {% endif %}
            <a href="delete/">Delete post</a>
        </p>
        {% if not blog.reviewed %}
            <p>
                <i>
                    <b>Your blog is currently in review.</b>
                    <br>
                    Your posts can only appear in the discover feed once your blog has been approved. 
                    <br>
                    Sorry about this, we're just trying keep Bear spam free. 
                </i>
            </p>
        {% endif %}
    {% endif %}
</content>

<input type="file" id="file" hidden multiple accept="image/*">
<script>
    document.querySelector('#toggle-full-screen').onclick = event => {
        event.preventDefault()
        document.querySelector('textarea').classList.toggle('full-screen')
        event.target.classList.toggle('floating')
    }

    {% if blog.upgraded %}
    document.querySelector('#upload-image').onclick = event => {
        event.preventDefault()
        document.getElementById("file").click()
    }

    document.getElementById("file").addEventListener("change", upload)

    function upload() {
        if(document.getElementById("file").files[0].size > 2000000){
            alert(`File over the 2mb limit. Use https://tinypng.com to minimise it.`)
            return
        }

        var formData = new FormData();
        var target = '/dashboard/upload-image/'

        var fileInput = document.getElementById("file")
        for (var i = 0; i<fileInput.files.length; i++) {
            formData.append("file", fileInput.files[i])
        }

        var xhr = new XMLHttpRequest()
        var eventSource = xhr.upload || xhr
        eventSource.addEventListener("progress", function(e){
            var current = e.loaded || e.position
            var total = e.total || e.totalSize
            var percent = parseInt((current/total)*100, 10)
            alert('Uploading...')
        });
        xhr.open("POST", target, true)
        xhr.send(formData)
        xhr.onload = function() {
            if (this.status === 200) {
                textarea = document.querySelector('textarea')
                JSON.parse(this.responseText).forEach(image => {
                    textarea.value += '\n\n![Image title]('+image+')'
                })
                alert('The image(s) have been added to the bottom of your content')
            }
        };
    }
    {% else %}
    document.querySelector('#upload-image').style.display = 'none'
    {% endif %}
</script>
{% endblock %}