{% extends 'base.html' %}

{% block title %}Settings | Bear Blog{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block nav %}{% include '../snippets/dashboard_nav.html' %}{% endblock %}

{% block content %}
<h1>Settings</h1>
<p>
    <a href="{% url 'directive_edit' id=blog.subdomain %}">Header and footer directives</a>
</p>
<p>
    <a href="{% url 'advanced_settings' id=blog.subdomain %}">Advanced settings</a>
</p>
{% comment %} 
<p>
    {% if blog.auth_token %}
    <label for="auth_token">Auth token:</label>
    <br>
    <input type="text" readonly style="width:350px" value="{{ blog.auth_token }}">
    <br>
    <button onclick="window.location = '?generate=True'" style="font-size:20px;">⟳</button>
    {% else %}
    <button onclick="window.location = '?generate=True'">Generate auth token</button>
    {% endif %}
</p>
{% endcomment %}

<p>
    <a href="?export=true" download>Export all blog data</a>
</p>
<p>
    <a onclick="if (confirm('Are you sure you would like to delete {{ blog.subdomain }}? This cannot be undone.')) { window.location.href='{% url 'blog_delete' blog.subdomain %}'; }">
        Delete blog
    </a>

</p>
{% endblock %}