{% extends 'base.html' %}

{% block title %}Styling | Bear Blog {% endblock %}

{% block nav %}{% include '../snippets/dashboard_nav.html' %}{% endblock %}

{% block content %}
<content>
  <h1>Styling</h1>
  <h3>Themes</h3>
  <div
    style="display: grid;grid-template-columns: 145px 200px 145px 200px;grid-gap: 0 27px;overflow-x: scroll;padding-bottom: 20px;"
  >
    {% for style in stylesheets %}
    {{ style.title }}
    <span>
      <button onclick="preview('{{ style.identifier }}')">Preview</button>
      <button onclick="setStyle('{{ style.identifier }}')">Apply theme</button> 
    </span>
    {% endfor %}
  </div>
  <small>
    <br>
      Include
      <a href="https://cssbed.com" target="_blank">no-class themes</a>
      by using <code>@import 'https://link-to-stylesheet.css';</code>
  </small>

  <hr>

  <form method="POST" class="post-form full-width">
    <p>
      <button type="submit" class="save btn btn-default">Publish</button>
      <button onclick="event.preventDefault();window.open('{{ blog.dynamic_domain }}');">
        View
      </button>
    </p>
    {% csrf_token %} {{ form.as_p }}

      <span class="helptext">
        <b>If extending styling, ensure your styling caters to existing dark mode styles.</b>
      </span>
  </form>

</content>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/css/css.min.js"></script>
<style>
	.CodeMirror {
		height: unset;
		border: 1px dashed black;
		padding: 2px;
    min-height: 200px;
	}
</style>
<script>
  var codemirror = CodeMirror.fromTextArea(document.querySelector('textarea'), {mode: "css"})

  const setStyle = name => {
    if (confirm("This will overwrite your current styles, are you sure?")) {
      window.location = '?style=' + name
      // window.open('?style=' + name)
    }
  }

  const preview = name => {
    window.open('?preview=True&style=' + name)
  }
</script>
{% endblock %}
